{% extends 'RbinsPersoBundle::layout.html.twig' %}

{% block content %}


<div class="page-header">
  <h1>{% trans %}perso.home.title{% endtrans %}</h1>
</div>
<div class="row">

  <div class="span3 thumbnail">
    <div class="caption">
      <h2>{{ 'perso.home.search.title' | trans() }} <i class="icon-search"></i></h2>
      <p>{{ 'perso.home.search.message' | trans()}}</p>
      <p><a id="helper_btn" href="#" class="btn btn-info"> {{ 'perso.home.search.button' | trans() }} »</a></p>
    </div>
  </div>
  {% if is_granted('ROLE_HR_EDIT') %}

  <div class="span3 thumbnail">
    <div class="caption">
    <h2>{{ 'perso.home.add.title' | trans() }} <i class="icon-plus-sign"></i></h2>
    <p>{{ 'perso.home.search.message' | trans() }}</p>
    <p><a href="{{ path('person_add') }}" class="btn btn-info">{{ 'perso.home.add.button' | trans() }} »</a></p>
    </div>
  </div>

  {% endif %}

  <div class="span3 thumbnail">
    <div class="caption">
    <h2>{{ 'perso.home.reporting.title' | trans() }}  <i class="icon-list"></i></h2>
    <p>{{ 'perso.home.reporting.message' | trans() }} </p>
    <p>
      <a href="{{ path('reports_list') }}" class="btn btn-info">{{ 'perso.home.reporting.button' | trans() }} »</a>
    </p>
    </div>
  </div>
</div>
<script type="text/javascript">
 $(document).ready(function(){
    $('#helper_btn').click(function(){
      search_bar = $('#person_search');
      if( $('.popover-inner').length == 0) {
        search_bar.data('popover').show();
        search_bar.focus();
      } else {
        search_bar.data('popover').hide();
      }
    });
 });
</script>
{% endblock %}