{% extends 'RbinsPersoBundle::layout.html.twig' %}

{% block content %}

{% trans_default_domain "messages" %}

<div class="page-header">
  <h1>{% trans %}perso.reports.title{% endtrans %}</h1>
</div>

<div class="row">
  <ul class="report_item">
  {% for id, report in reports  %}
    <li class="well">
          <span class="rpt_title">{%  if app.request.locale == 'nl' %}
            {{ report.name_nl }}
            {% else %}
            {{ report.name_fr }}
            {%endif%}</span>
        {% if report.form_view is defined %}
          <form action="{{ path('reports_get', { report: id}) }}">
            {{ form_widget(report.form_view) }}
            <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
          </form>
        {% else %}
          {% for fmt in report.format%}
            <a  class="rpt_fmt badge badge-info" href="{{ path('reports_get', { report: id, format: fmt}) }}">{{fmt}}</a>
          {% endfor %}
        {% endif %}
    </li>
  {% endfor %}
  </ul>
{#   {{ dump(reports) }} #}
</div>
{% endblock %}