{% trans_default_domain "form" %}
<div class="well well-small">
  <div class="row-fluid">
    <div class="span3 photospan">{% if person.photo is not null %}<img class="img-polaroid img-mini" src="{{ asset('/photos/' ~ person.photo) | imagine_filter('pb_photo') }}">{% endif %}</div>
    <div class="span9">
      <div class="row-fluid">
        <div class="span6">{%trans%} form.rbins.persobundle.persontype.first.name {%endtrans%}: <strong>{{ person.first_name }}</strong></div>
        <div class="span6">{%trans%} form.rbins.persobundle.persontype.badge.id {%endtrans%}: <strong>{{ person.id }} </strong></div>
      </div>
      <div class="row-fluid">
        <div class="span6">{%trans%} form.rbins.persobundle.persontype.last.name {%endtrans%}: <strong>{{ person.last_name }}</strong></div>
        <div class="span6">
          {% if (person.exit_date|date("Y/m/d") > "now"|date("Y/m/d") or (person.exit_date is empty)) %}
            {%trans%} form.rbins.persobundle.persontype.activity.time {%endtrans%}
            <strong>
              {% if person.entry_date  is not empty %}{{ person.entry_date|date("d/m/Y") }}{%endif%}
              {% if person.exit_date is not empty %} ({%trans%} form.rbins.persobundle.persontype.activity.end {% endtrans %} {{ person.exit_date|date("d/m/Y") }}) {% endif %}
            </strong>
          {%else%}
            <strong>{%trans%} form.rbins.persobundle.persontype.noactivity {%endtrans%}</strong>
          {%endif%}
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">{%trans%} form.rbins.persobundle.persontype.mother.tongue {%endtrans%} : <strong>{{ person.mother_tongue }}</strong></div>
        <div class="span6">{%trans%} form.rbins.persobundle.personworkingtype.WorkingHist.entry.ContractComment {%endtrans%} : 
          <strong>
            {% if app.request.locale == 'en' %}{{ person.name_fr ~ '/' ~ person.name_nl }}
            {% elseif app.request.locale == 'nl' %}{{ person.name_nl }}
            {% else %}{{person.name_fr}} {%endif %}
          </strong>
        </div>
      </div>
      {% if info %}
      <div class="row-fluid">
        <div class="span12 label label-warning">{%trans%}form.stibcontracttoremove{%endtrans%}</div>
      </div>
      {% endif %}   
      <div class="row-fluid">
        <div class="span12 alert alert-info">{%trans%}form.tempoactu{%endtrans%}</div>
      </div>  
    </div>
  </div>
</div>

