{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}calendar{%endblock%}
  {% macro prototype(item) %}
    {% set trans_prefix = 'form.rbins.persobundle.persondutycalendartype.Calendar.entry.' %}
    {% for error in item %}
       <div class="controls">{{ form_errors(error) }}</div>
    {% endfor %}
    <div class="controls controls-row">
      <div class="span2">{{form_widget(item.week) }}</div>

      <strong class="span1 calendar_am_pm">{{ (trans_prefix ~ 'am') | trans({},'form')}}</strong>

      <div class="span1">{{form_widget(item.mon_am) }}</div>
      <div class="span1">{{form_widget(item.tue_am) }}</div>
      <div class="span1">{{form_widget(item.wed_am) }}</div>
      <div class="span1">{{form_widget(item.thu_am) }}</div>
      <div class="span1">{{form_widget(item.fri_am) }}</div>
      <div class="span1">{{form_widget(item.sat_am) }}</div>
      <div class="span1">{{form_widget(item.sun_am) }}</div>
    </div>
    <div class="controls controls-row">
      <div class="span2"></div>

      <strong class="span1 calendar_am_pm">{{ (trans_prefix ~ 'pm') | trans({},'form')}}</strong>

      <div class="span1">{{form_widget(item.mon_pm) }}</div>
      <div class="span1">{{form_widget(item.tue_pm) }}</div>
      <div class="span1">{{form_widget(item.wed_pm) }}</div>
      <div class="span1">{{form_widget(item.thu_pm) }}</div>
      <div class="span1">{{form_widget(item.fri_pm) }}</div>
      <div class="span1">{{form_widget(item.sat_pm) }}</div>
      <div class="span1">{{form_widget(item.sun_pm) }}</div>
      <div class="span2"><a href="#" class="remove_el">
        {{ form_rest(item) }}
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
        </a>
      </div>
    </div>
  {% endmacro %}

{% block content_form %}
<script type="text/javascript">
$(document).ready(function(){
  var add_link = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  prot = "{{ _self.prototype(form.Calendar.vars.prototype)|e('js') }}";
  $('ul.duty_cal').collection({add_lnk: add_link, prototype: prot});
});
</script>
{% if not form.vars.valid %}
  <div class="controls">{{ form_errors(form) }}</div>
{% endif %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="empty_collection alert alert-info" style="display:none;">
{% trans %}perso.form.empty_collection{% endtrans %}
</div>
<form method="post" action="{{ path('person_calendar', { 'id': id,'person': person,'hist': hist }) }}">
  <div class="controls"><h3>{%trans%}perso.form.calendar{%endtrans%}</h3></div>
    <ul class="duty_cal">
      <li class="well well-small heading">
        {% set trans_prefix = 'form.rbins.persobundle.persondutycalendartype.Calendar.entry.' %}

        <strong class="span1">{{ (trans_prefix ~ 'weekname') | trans({},'form')}}</strong>
        <div class="span2"></div>
        <strong class="span1">{{ (trans_prefix ~ 'mon_am') | trans({},'form')}}</strong>
        <strong class="span1">{{ (trans_prefix ~ 'tue_am') | trans({},'form')}}</strong>
        <strong class="span1">{{ (trans_prefix ~ 'wed_am') | trans({},'form')}}</strong>
        <strong class="span1">{{ (trans_prefix ~ 'thu_am') | trans({},'form')}}</strong>
        <strong class="span1">{{ (trans_prefix ~ 'fri_am') | trans({},'form')}}</strong>
        <strong class="span1">{{ (trans_prefix ~ 'sat_am') | trans({},'form')}}</strong>
        <strong class="span1">{{ (trans_prefix ~ 'sun_am') | trans({},'form')}}</strong>
      </li>
        {% for hst in form.Calendar %}
           <li class="">{{ _self.prototype(hst) }}</li>
        {% endfor %}
    </ul>
    {{ form_widget(form.Calendar) }}
    {{form_errors(form) }}
    {{ form_rest(form) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
      </div>
  </div>
</form>
<div class="clearfix"></div>

{% endblock %}
