{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}contact{%endblock%}
  {% macro prototypec(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}  
    <div class="controls controls-row">
      {{ form_row(item.prefered,{ 'rowclass': 'span3' }) }}
      {{ form_row(item.type,{ 'rowclass': 'span3', 'attr': {'class':'input-small'}, 'multiple': true }) }}
      {{ form_row(item.entry,{ 'rowclass': 'span5', 'attr': {'class':'input-xlarge'} }) }}
    </div>
    <div class="controls controls-row">
      {{ form_row(item.comment,{ 'rowclass': 'span6', 'attr': {'class':'input-large'} }) }}
      <div class="span2 remove_link"><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
        </a>
      </div>
    </div>
  {% endmacro %}
  {% macro prototypea(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}  
    <div class="controls controls-row">
      {{ form_row(item.type,{ 'rowclass': 'span5', 'multiple': true }) }}
      {{ form_row(item.street,{ 'rowclass': 'span5', 'attr': {'class':'input-xlarge'}, 'multiple': true }) }}
    </div>
    <div class="controls controls-row">
      {{ form_row(item.street_num,{ 'rowclass': 'span2', 'attr': {'class':'input-micro'} }) }}
      {{ form_row(item.box,{ 'rowclass': 'span3', 'attr': {'class':'input-micro'} }) }}
      {{ form_row(item.City,{ 'rowclass': 'span3' }) }}
    </div>
    <div class="controls controls-row">
      {{ form_row(item.comment,{ 'rowclass': 'span5' }) }}
      <div class="span2 remove_link"><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
        </a>
      </div>
    </div>
  {% endmacro %}
{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
<script type="text/javascript">
$(document).ready(function(){
  var add_contact = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_contact'|trans() | e }}</a>');
  var add_address = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_address'|trans() | e }}</a>');  
  protc = "{{ _self.prototypec(form.PersonContact.vars.prototype, id)|e('js') }}";
  prota = "{{ _self.prototypea(form.PersonAddress.vars.prototype, id)|e('js') }}";  

  $('ul.info_inline').collection({add_lnk: add_contact, prototype: protc});
  $('ul.address_inline').collection({add_lnk: add_address, prototype: prota});
  $(':checkbox').live('click',function(){
    parent = $(this).closest('ul') ;
    val = $(this).attr('checked') ;
    parent.find(':checkbox').removeAttr('checked') ;
    if (val) $(this).attr('checked', true);
  });
});
</script>
{% if not form.vars.valid %}
  <div class="controls">{{ form_errors(form) }}</div>
{% endif %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="empty_collection alert alert-info" style="display:none;">
{% trans %}perso.form.empty_collection{% endtrans %}
</div>
<form method="post" action="{{ path('person_contact', { 'id': persid }) }}">
  <div class="controls"><h3>{%trans%}perso.form.contact_mean{%endtrans%}</h3></div>
  <ul class="info_inline">
    {% for contact in form.PersonContact %}  
      <li class="">
       {{ _self.prototypec(contact, id) }}
     </li>
    {% endfor %}
  </ul>
  {{form_widget(form.PersonContact) }}
  <hr />
  <div class="controls"><h3>{%trans%}perso.form.contact_address{%endtrans%}</h3></div>  
  <ul class="address_inline">  
    {% for adress in form.PersonAddress %}  
      <li class="">
       {{ _self.prototypea(adress, id) }}
     </li>
    {% endfor %} 
  </ul>  
  {{form_widget(form.PersonAddress) }}

<hr />
<div class="controls"><h3>{%trans%}perso.form.contact_building{%endtrans%}</h3></div>
<div class="container-fluid">
  <div class="row-fluid">
      <div class="span4">{{ form_row(form.building, {'multiple': false }) }}</div>
      <div class="span3">{{ form_row(form.building_floor,{ 'attr': {'class': 'input-small' } }) }}</div>
      <div class="span3">{{ form_row(form.building_room,{ 'attr': {'class': 'input-small' } }) }}</div>      
  </div>
</div>

  {{form_errors(form) }}
  {{form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
  </div>
</form>
<div class="clearfix"></div>

{% endblock %}
