
{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}document{%endblock%}

{% macro prototype(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}
  <div class="controls controls-row">
    {{ form_row(item.title,{ 'rowclass': 'span4' })}}
    {{ form_row(item.DocType,{ 'rowclass': 'span4' })}}
    <div class="span2"><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
      </a>
    </div>     
  </div>
  <div class="controls controls-row"> 
    {{ form_row(item.file,{ 'rowclass': 'span4' })}}
    {% if  item.vars.value.path is defined %}
      <div class="span2">
        <a href="{{ path('document_get', { id:item.vars.value.id}) }}"><i class="icon-download-alt"></i> {{ item.vars.value.name }}</a>
      </div>
    {% else %}
      <div class="span2"></div>
    {%endif%}   
  </div>
  {{ form_rest(item) }}

{% endmacro %}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
<script type="text/javascript">
$(document).ready(function(){
  var add_link = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  var prot = "{{ _self.prototype(form.Document.vars.prototype, id)|e('js') }}";
  $('ul.info_inline').collection({add_lnk: add_link, prototype: prot});
});
</script>

{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="empty_collection alert alert-info" style="display:none;">
{% trans %}perso.form.empty_collection{% endtrans %}
{% set typeActu = "" %}
</div>
  {{ form_start(form, {
      'method': 'post',
      'action': path('person_document', { 'id': id })
    })
  }}

  <div class="controls"><h3>{%trans%}perso.form.document{%endtrans%}</h3></div>
  <ul class="info_inline">
    {% for member in form.Document %}
      {% if (member.vars.value.DocType != typeActu) %}
	{% set typeActu = member.vars.value.DocType %}
	<li class="alert alert-info">{{member.vars.value.DocType.getLabel(lang)|trans() | e}}</li>
      {%endif%}
      <li class="">
       {{ _self.prototype(member, id) }}
     </li>
    {% endfor %}
  </ul>
  {{form_widget(form.Document) }}
  {{form_errors(form) }}
  {{form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
  </div>
</form>
<div class="clearfix"></div>

{% endblock %}
