Une nouvelle personne a été créée sur l'application HR
Gardez ces informations si vous devez ajouter cette personne dans le ldap/active directory

  - Numéro de badge : {{ person.id }}
  - Nom : {{ person.lastName }}  
  - Prénom : {{ person.firstName }}
  - Département : {{ dept.nameFr}}
  - Uid suggéré : {{ person.uid }}
  - Chef fonctionnel : {{ person.FunctionalChief|default('Non renseigné') }}


------------------------------------------------------------------------------------------


Er werd een nieuwe persoon toegevoegd aan de HR-toepassing.
Houd deze informatie bij de hand als je deze persoon wenst toe te voegen aan de LDAP/Active Directory.

  - Badge N° : {{ person.id }}
  - Familienaam : {{ person.lastName }}  
  - Voornaam : {{ person.firstName }}
  - Department : {{ dept.nameNl}}
  - Voorgestelde uid : {{ person.uid }}
  - Functionele Chef : {{ person.FunctionalChief|default('Onbepaald') }}
