{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}family{%endblock%}

{% macro prototype(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}
  <div class="controls controls-row">
    {{ form_row(item.type,{ 'rowclass': 'span4', 'multiple': true}) }}
    {{ form_row(item.full_name,{ 'rowclass': 'span4' }) }}
    {{ form_row(item.gender, { 'rowclass': 'span4' }) }}
  </div>

  <div class="controls controls-row">
    {{ form_row(item.parential_leave,{ 'rowclass': 'span4' }) }}
    {{ form_row(item.allowance,{ 'rowclass': 'span4', 'multiple': true}) }}
    {{ form_row(item.allowance_end,{ 'rowclass': 'span3', 'attr': {'class':'input-small'} }) }}
  </div>

  <div class="controls controls-row row show-grid">
    {{ form_row(item.birth_date, { 'rowclass': 'span4', 'attr': {'class':'input-small'}}) }}
    {{ form_row(item.employed,{ 'rowclass': 'span4' }) }}
    {{ form_row(item.handicap,{ 'rowclass': 'span4', 'attr':{'class': 'input-mini'} }) }}
  </div>
  <div class="controls controls-row row show-grid">
    {{ form_row(item.comment,{ 'rowclass': 'span6', 'attr': {'class':'input-xlarge'} }) }}
    <div class="span3"><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
      </a>
    </div>
  </div>
  {{ form_rest(item) }}

{% endmacro %}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
<script type="text/javascript">
$(document).ready(function(){
  var add_link = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  var prot = "{{ _self.prototype(form.PersonFamily.vars.prototype, id)|e('js') }}";
  $('ul.family').collection({add_lnk: add_link, prototype: prot});
});
</script>
{% if not form.vars.valid %}
  <div class="controls">{{ form_errors(form) }}</div>
{% endif %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="empty_collection alert alert-info" style="display:none;">
{% trans %}perso.form.empty_collection{% endtrans %}
</div>
<form method="post" action="{{ path('person_family', { 'id': persid }) }}">
  <div class="controls"><h3>{%trans%}perso.form.family{%endtrans%}</h3></div>
  <ul class="family">
    {% for member in form.PersonFamily %}
      <li class="">
       {{ _self.prototype(member, id) }}
     </li>
    {% endfor %}
  </ul>
  {{form_widget(form.PersonFamily) }}
  {{form_errors(form) }}
  {{form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
  </div>
</form>
<div class="clearfix"></div>
{% endblock %}
