{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}hist{%endblock%}
  {% macro prototypeh(item, person_ref) %}
      {% for error in item %}
         <div class="controls">{{ form_errors(error) }}</div>
      {% endfor %}
      {{ form_row(item.start_date, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.end_date, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.level) }}
      {{ form_row(item.SalaryGrade) }}
      {{ form_row(item.linguistic_role, {'multiple': true}) }}
      {{ form_row(item.lang_level, { 'attr': {'class':'input-mini'}}) }}
      {{ form_row(item.class, { 'attr': {'class':'input-mini'}}) }}
      {{ form_row(item.seniority, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.salary_seniority, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.levelseniority, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.classseniority, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.degree_seniority, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.scale_seniority, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.scientific_seniority, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.Status) }}
      {{ form_row(item.category, {'multiple': true}) }}
      {{ form_row(item.Grade) }}
      {{ form_row(item.Reason) }}
      {{ form_row(item.FunctionFamily) }}
      {{ form_row(item.ContractDuration) }}
      {{ form_row(item.ContractComment) }}
      {{ form_row(item.SubLevel) }}
      {{ form_row(item.cost_center) }}
      {{ form_row(item.replacement_person) }}
      {{ form_rest(item) }}

      <a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
      </a>
      <a href="#" class="dup_el">
        <i class="icon-retweet"></i> {{'perso.form.duplicate'|trans() | e }}
      </a>
  {% endmacro %}
  {% macro prototyped(item, person_ref) %}
      {% for error in item %}
         <div class="controls">{{ form_errors(error) }}</div>
      {% endfor %}  
      <div>
        {%  if item.vars.value.id is defined %}
          <a href="{{ path('person_calendar',{ 'id': person_ref, 'hist': item.vars.value.id})}}" class="btn">
            <i class="icon-calendar" ></i> {{ 'perso.hist.calendar_link' |trans }}</a>
        {% else %}
           <a href="#" class="btn disabled" title="{{ 'perso.hist.disable_calendar_tooltip' |trans|e }}"><i class="icon-calendar" ></i> {{ 'perso.hist.calendar_link' |trans }}</a>
        {% endif %}
      </div><br />
      {{ form_row(item.start_date, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.end_date, { 'attr': {'class':'input-small'}}) }}
      {{ form_row(item.percentage, { 'attr': {'class':'input-mini'}}) }}
      {{ form_row(item.Cause) }}
      {{ form_row(item.Department) }}
      {{ form_rest(item) }}

      <a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
      </a>
      <a href="#" class="dup_el">
        <i class="icon-retweet"></i> {{'perso.form.duplicate'|trans() | e }}
      </a>
  {% endmacro %}
{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
<script type="text/javascript">
$(document).ready(function(){
  var add_link = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  var add_duty = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  proth = "{{ _self.prototypeh(form.WorkingHist.vars.prototype, id)|e('js') }}";
  protd = "{{ _self.prototyped(form.WorkingDuty.vars.prototype, id)|e('js') }}";
  $('ul.working_hists').collection({add_lnk: add_link, prototype: proth});
  $('ul.working_duties').collection({add_lnk: add_duty, prototype: protd});
   $('ul .in_the_past').closest('li').hide()
  $('#hide_old').click(function(e) {
    e.preventDefault();
    toogleInThePast();
  });
  if($('.in_the_past ul.errors_list').length != 0)
    $('ul .in_the_past .errors_list').each(function(){
      $(this).closest('.in_the_past').css('display','inline-block');
  })
});

function toogleInThePast() {
  if ($('ul .in_the_past').is(':visible'))
    $('ul .in_the_past').css('display','none');
  else
    $('ul .in_the_past').css('display','inline-block');
}
</script>
{% if not form.vars.valid %}
  <div class="controls">{{ form_errors(form) }}</div>
{% endif %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}


<form method="post" action="{{ path('person_hist', { 'id': persid }) }}">
  <div class="alert alert-info">
    <a href="" id="hide_old"><i class="icon-eye-close"></i> {% trans %}perso.form.show_hide_old{% endtrans %}</a>
  </div>
  <div class="controls"><h3>{%trans%}perso.form.working_hist{%endtrans%}</h3></div>
  <div class="controls controls-row">
    <ul class="working_hists">
      {% for hst in form.WorkingHist %}
         <li  data-rowid="{{ loop.index0 }}" 
          {%  if hst.vars.value.endDate is defined and  hst.vars.value.endDate|date('Y/m/d') < ("now"|date('Y/m/d')) %}
            class="in_the_past"
          {% endif %}
          >{{ _self.prototypeh(hst, id) }}</li>
      {% endfor %}
    </ul>
    {{form_widget(form.WorkingHist) }}
    </div>
    <div class="controls"><h3>{%trans%}perso.form.working_duty{%endtrans%}</h3></div>
    
    <div class="empty_collection alert alert-info" style="display:none;">
      {% trans %}perso.form.empty_collection{% endtrans %}
    </div>
    <div class="controls controls-row">
    <ul class="working_duties" >
      {% for duty in form.WorkingDuty %}
         <li  data-rowid="{{ loop.index0 }}" 
          {%  if duty.vars.value.endDate is defined and  duty.vars.value.endDate|date('Y/m/d') < ("now"|date('Y/m/d')) %}
            class="in_the_past"
          {% endif %}
          >{{ _self.prototyped(duty, id) }}</li>
      {% endfor %}
    </ul>    
    {{form_widget(form.WorkingDuty) }}
    {{ form_rest(form) }}
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
{#         <button type="button" class="btn">{%trans%}form.cancel{%endtrans%}</button> #}
      </div>
  </div>
</form>
<div class="clearfix"></div>

{% endblock %}
