{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{% block persid %}{{id}}{%endblock%}
{% block activetab %}personnal{%endblock%}
{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<form method="post" action="{{ id == '' ? path('person_add') : path('person', { 'id': persid }) }}">
  {% for error in form %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}
  <div class="controls"><h3>{%trans%}perso.form.info{%endtrans%}</h3></div>
  <div class="controls controls-row">
    {{ form_row(form.last_name,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.alias_last_name,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.first_name,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.alias_first_name,{ 'rowclass': 'span6', 'attr':{'class': 'input-large'} } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.mother_tongue,{ 'rowclass': 'span6'} )}}
    {{ form_row(form.gender,{ 'rowclass': 'span6' } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.birth_date,{ 'rowclass': 'span6', 'attr': {'class':'input-small'}}) }}
    {{ form_row(form.birth_place,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.nationality,{ 'rowclass': 'span6' } )}}
    {{ form_row(form.maritalStatus,{ 'rowclass': 'span6' } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.national_nr,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium', 'placeholder': '123456-123-12'} } )}}
    {{ form_row(form.passport_nr,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.identitycard_nr,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.matricule,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <hr />
  <div class="controls controls-row">
    {{ form_row(form.account_iban_nr,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.account_bic_nr,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.other_account_holder,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.dimona_nr,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <hr />
  <div class="controls controls-row">
    {{ form_row(form.sis_nr,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.handicap,{ 'rowclass': 'span6', 'attr':{'class': 'input-mini'}, 'multiple': true  }) }}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.med_number,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.MedCenter,{ 'rowclass': 'span6'} )}}
  </div>
  <hr />
  <div class="controls controls-row">
    {{ form_row(form.payroll_tax,{ 'rowclass': 'span6', 'multiple': true }) }}
    {{ form_row(form.dependance,{ 'rowclass': 'span6', 'multiple': true }) }}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.household_allowance,{ 'rowclass': 'span6', 'multiple': true }) }}
    {{ form_row(form.residence_allowance,{ 'rowclass': 'span6', 'multiple': true }) }}
  </div>
  <div class="controls controls-row">

    {{ form_row(form.senior_working,{ 'rowclass': 'span6', 'multiple': true }) }}
    {{ form_row(form.senior_working_date,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} }) }}
  </div>
  <hr />
  <div class="controls controls-row">
    {{ form_row(form.FunctionalChief,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
    {{ form_row(form.ResponsibleChief,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.Degree,{ 'rowclass': 'span6', 'attr':{'class': 'input-medium'} } )}}
  </div>
  <div class="controls controls-row">
    <div class="input-prepend span6  ">
      <span class="add-on">
        <label for="rbins_persobundle_persontype_homework">
          {% trans from "form" %}form.rbins.persobundle.persontype.homework.fieldName{% endtrans %}<span class="required">*</span>
        </label>
      </span>
      {{ form_widget(form.homework) }}
    </div>
    {{ form_row(form.comment,{ 'rowclass': 'span6' })}}
  </div>
  <div class="controls controls-row">
    {{ form_row(form.handicap_perc,{ 'rowclass': 'span6' }) }}
    {{ form_row(form.frame,{ 'rowclass': 'span6' }) }}
  </div>
  {{ form_rest(form) }}

  <div class="form-actions">
{#     <button type="reset" class="form_cancel btn">{% trans %}form.cancel{% endtrans%}</button> #}
    <input type="submit" class="btn btn-primary btn-large" value="{% trans %}perso.form.submit{% endtrans%}"  />
  </div>
</form>

{% endblock %}
