{% extends 'RbinsPersoBundle::layout.html.twig' %}
{% set persid %}{% block persid %}{% endblock %}{%endset%}
{% set activetab %}{% block activetab %}{% endblock %}{%endset%}
{% block content %}
  {% if id != ''%}
    {% render controller('RbinsPersoBundle:Person:personTitle', { 'id' : persid }) %}
  {%endif%}

  <ul class="nav nav-tabs">

    {% for tab in ['personnal', 'contact', 'family', 'hist', 'transport', 'premium', 'entry', 'document', 'combined', 'calendar', 'phonebook', 'reports'] %}
      {% set title = ( 'perso.person.tab.' ~ tab) | trans() %}
      {% if tab == 'calendar' or id == '' %}
        {% set tab_link = '#' %}
        {% set disable_class = 'disabled' %}
      {% else %}
        {% set action =  'view' %}
        {% set tab_link = path('person_' ~ tab, { 'id': persid, 'action':action } ) %}
        {% set disable_class = '' %}
      {% endif %}
    
      {% if tab != activetab %}
        <li id='tab_{{ tab }}' class="{{ disable_class }}">
          <a href="{{ tab_link }}">{{ title }}</a>
        </li>
      {% else %}
        <li id='tab_{{ tab }}' class="active">
          <a>{{ title }}</a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
  <div class="controls">
  {% block content_form %} 
  {% endblock %}
  </div>
{% endblock %}
