{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{% block persid %}{{id}}{%endblock%}
{% block activetab %}phonebook{%endblock%}
  {% macro prototype(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}  
    <div class="controls controls-row">      
      <div class="span3">{{ form_row(item.type,{ 'rowclass': 'span2', 'attr': {'class':'input-small'}, 'multiple': true }) }}</div>
      <div class="span4">{{ form_row(item.entry,{ 'rowclass': 'span4', 'attr': {'class':'input-large'} }) }}</div>
      <div class="span4 remove_link"><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
        </a>
      </div>
    </div>
  {% endmacro %}  
{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
<script type="text/javascript">
$(document).ready(function(){
  $(".img-polaroid").attr("src", "{{ asset('/photos/' ~ photo) | imagine_filter('pb_photo') }}");
  var add_info = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  prot = "{{ _self.prototype(form.PhoneBook.vars.prototype, id)|e('js') }}";
  $('ul.info_inline').collection({add_lnk: add_info, prototype: prot});
});
</script>
{% if not form.vars.valid %}
  <div class="controls">{{ form_errors(form) }}</div>
{% endif %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="empty_collection alert alert-info" style="display:none;">
{% trans %}perso.form.empty_collection{% endtrans %}
</div>
<hr />
  {{ form_start(form, {
              'method': 'post',
              'action': path('person_phonebook', { 'id': persid })
    })
  }}
  {% for error in form %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}  
  <ul class="family">    
    <li>
    <div class="controls controls-row">
      <div class="span6">
        {{ form_row(form.email) }}
      </div>
      <div class="span6">
        {{ form_row(form.pb_visible) }}
      </div>
    </div>
    <div class="controls controls-row">
      <div class="span6">
        {{ form_row(form.description, {'rowclass': 'span4', 'attr': { 'rows' : 5, 'style' : 'width:200%' } }) }}
      </div>
      <div class="span6">
        <div class="controls controls-row">
          <div class="span12">
            {{ form_widget(form.file,{ 'attr': {'class':'input_file_style'} }) }}
          </div>
        </div>
      </div>
    </div>
    <div class="controls controls-row">
        <div class="span12">
          {% if is_granted('ROLE_HR_ADMIN') %}
            {{ form_row(form.workfunction) }}
          {% endif %}
        </div>
    </div>
    </li>
  </ul>
  <div class="controls"><h3>{%trans%}perso.form.contact_mean{%endtrans%}</h3></div>  
  <ul class="info_inline">
    {% for info in form.PhoneBook %}  
      <li class="">
       {{ _self.prototype(info, id) }}
     </li>
    {% endfor %}
  </ul>
  {{ form_widget(form.PhoneBook) }}
  {{ form_widget(form._token) }}
  {{ form_errors(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
  </div>
</form>
<div class="clearfix"></div>

{% endblock %}
