{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}premium{%endblock%}

{% macro prototype(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}
  <div class="controls controls-row">
    {{ form_row(item.start_date,{ 'rowclass': 'span3', 'attr': {'class':'input-small'} }) }}
    {{ form_row(item.end_date, { 'rowclass': 'span3', 'attr': {'class':'input-small'} }) }}
    {{ form_row(item.premium,{ 'rowclass': 'span4', 'attr': {'class':'input-medium'} }) }}
  </div>
  <div class="controls controls-row">  
    {{ form_row(item.comment,{ 'rowclass': 'span6' } ) }}
    <div class="span2 remove_link"><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
      </a>
    </div>

  </div>
{% endmacro %}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
<script type="text/javascript">
$(document).ready(function(){
  var add_link = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  var prot = "{{ _self.prototype(form.Premium.vars.prototype, id)|e('js') }}";
  $('ul.info_inline').collection({add_lnk: add_link, prototype: prot});
});
</script>
{% if not form.vars.valid %}
  <div class="controls">{{ form_errors(form) }}</div>
{% endif %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="empty_collection alert alert-info" style="display:none;">
{% trans %}perso.form.empty_collection{% endtrans %}
</div>
<form method="post" action="{{ path('person_premium', { 'id': persid }) }}">
  <div class="controls"><h3>{%trans%}perso.form.premium{%endtrans%}</h3></div>
  <ul class="info_inline">
    {% for member in form.Premium %}
      <li class="">
       {{ _self.prototype(member, id) }}
     </li>
    {% endfor %}
  </ul>
  {{form_widget(form.Premium) }}
  {{form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
  </div>
</form>
<div class="clearfix"></div>
{% endblock %}
