{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}reports{%endblock%}

{% block content_form %}
  <div>
  <ul class="report_item">
  {% for rid,report in reports  %}
    <li class="well">
      <span class="rpt_title">
        {% if person.motherTongue != 'FR' %}{{ report.name_nl }}{% endif %}
        {% if person.motherTongue != 'NL' %}{{ report.name_fr }}{% endif %}
      </span>
      {% for fmt in report.format%}
            <a  class="rpt_fmt badge badge-info" href="{{ path('reports_get', { report: rid,  person_id : id, lang: (person.motherTongue != 'FR' ? 'nl' : 'fr'),format: fmt}) }}">{{fmt}}</a>
          {% endfor %}
    </li>
  {% endfor %}
  </ul>
  </div>
  <div style="clear:both;"><a href="{{  path('reports_list') }}" class="btn btn-info">{{ 'perso.reports.global.button' | trans() }} »</a></div>
{% endblock %}