{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}transport{%endblock%}

{% macro prototype(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}
  <div class="controls controls-row">
    {{ form_row(item.is_effective) }}
    {{ form_row(item.start_date,{ 'attr': {'class':'input-small'} }) }}
    {{ form_row(item.end_date, { 'attr': {'class':'input-small'} }) }}
  </div>

  <div class="controls controls-row">
    {{ form_row(item.bike,{ 'rowclass': 'span4' })}}
    {{ form_row(item.car,{ 'rowclass': 'span4' })}}
  </div>
  <div class="controls controls-row">
    {{ form_row(item.delijn,{ 'rowclass': 'span4' })}}
    {{ form_row(item.tec,{ 'rowclass': 'span4' })}}
  </div>

  <div class="controls controls-row">
    {{ form_row(item.sncb,{ 'rowclass': 'span4' })}}
    {{ form_row(item.stibmivb,{ 'rowclass': 'span4' })}}
  </div>

  <div class="controls controls-row">

    {{ form_row(item.city_from) }}
    {{ form_row(item.city_to) }}  
    {{ form_row(item.numberplate,{ 'attr': {'class':'input-medium'} })}}
    {{ form_row(item.parking_card_date, { 'attr': {'class':'input-small'} }) }}    
    {{ form_row(item.km,{ 'attr': {'class':'input-micro'} })}}    
    {{ form_row(item.giveback,{ 'rowclass': '' })}}
    {{ form_row(item.comment)}}
  </div>

    <div class=""><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
      </a>
      <a href="#" class="dup_el">
        <i class="icon-retweet"></i> {{'perso.form.duplicate'|trans() | e }}
      </a>
  </div>
  <div class="controls">{{ form_errors(item) }}</div>
  {{ form_rest(item) }}

{% endmacro %}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'view'}) }}
<script type="text/javascript">
$(document).ready(function(){
  var add_link = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  var prot = "{{ _self.prototype(form.Transport.vars.prototype, id)|e('js') }}";
  $('ul.working_hists').collection({add_lnk: add_link, prototype: prot});
});
</script>
{% if not form.vars.valid %}
  <div class="controls">{{ form_errors(form) }}</div>
{% endif %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="empty_collection alert alert-info" style="display:none;">
{% trans %}perso.form.empty_collection{% endtrans %}
</div>
<form method="post" action="{{ path('person_transport', { 'id': persid }) }}">
  <div class="controls"><h3>{%trans%}perso.form.transport.type{%endtrans%}</h3></div>
  <ul class="working_hists">
    {% for member in form.Transport %}
      <li class="" data-rowid="{{ loop.index0 }}">
       {{ _self.prototype(member, id) }}
     </li>
    {% endfor %}
  </ul>
  {{form_widget(form.Transport) }}
  {{form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
  </div>
</form>
<div class="clearfix"></div>
{% endblock %}
