{% extends 'RbinsPhoneBookBundle::layout.html.twig' %}
{% block pb_title %}{{ status_text }}{% endblock %}
{% block content %}
<div class="row-fluid">
    <h1>Ah bravo !</h1>
    <h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>
{% endblock %}