{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}calendar{%endblock%}
  {% macro prototype(item) %}

  {% endmacro %}

{% block content_form %}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}

<div class="controls"><h3>{%trans%}perso.form.calendar{%endtrans%}</h3></div>

<a href="{{ path('person_hist',{ 'id': persid, 'action':'view'})}}" class="btn">{{ 'perso.person.tab.hist'|trans() }} »</a>

{% if calendar|length > 0 %}
  <ul class="duty_cal">
    <li class="controls controls-row well well-small heading pager">
      {% set trans_prefix = 'form.rbins.persobundle.persondutycalendartype.Calendar.entry.' %}

      <strong class="span1">{{ (trans_prefix ~ 'weekname') | trans({},'form')}}</strong>
      <strong class="span1"></strong>
      <strong class="span1">{{ (trans_prefix ~ 'mon_am') | trans({},'form')}}</strong>
      <strong class="span1">{{ (trans_prefix ~ 'tue_am') | trans({},'form')}}</strong>
      <strong class="span1">{{ (trans_prefix ~ 'wed_am') | trans({},'form')}}</strong>
      <strong class="span1">{{ (trans_prefix ~ 'thu_am') | trans({},'form')}}</strong>
      <strong class="span1">{{ (trans_prefix ~ 'fri_am') | trans({},'form')}}</strong>
      <strong class="span1">{{ (trans_prefix ~ 'sat_am') | trans({},'form')}}</strong>
      <strong class="span1">{{ (trans_prefix ~ 'sun_am') | trans({},'form')}}</strong>
    </li>
    {% for cal in calendar %}
    <li class="controls controls-row">
      {% set trans_prefix = 'form.rbins.persobundle.persondutycalendartype.Calendar.entry.' %}
      <div class="controls controls-row pager">
        <strong class="span1"> {{ cal.week==0?(trans_prefix ~ 'week.0') | trans({},'form'):cal.week  }}</strong>

        <strong class="span1 calendar_am_pm">{{ (trans_prefix ~ 'am') | trans({},'form')}}</strong>

        <div class="span1">{%if cal.monAm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.tueAm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.wedAm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.thuAm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.friAm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.satAm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.sunAm %}<i class="icon-ok"></i>{%endif%}</div>
      </div>
      <div class="controls controls-row pager">
        <strong class="span1"></strong>

        <strong class="span1 calendar_am_pm">{{ (trans_prefix ~ 'pm') | trans({},'form')}}</strong>

        <div class="span1">{%if cal.monPm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.tuePm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.wedPm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.thuPm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.friPm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.satPm %}<i class="icon-ok"></i>{%endif%}</div>
        <div class="span1">{%if cal.sunPm %}<i class="icon-ok"></i>{%endif%}</div>
      </div>
    </li>
    {% endfor %}
  </ul>
</div>
{% else %}
  <div class="empty_collection alert alert-info">
    {% trans %}perso.form.empty_collection_view{% endtrans %}
  </div>
{% endif %}
{% endblock %}
