
{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}combined{%endblock%}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}

<div class="controls"><h3>{%trans%}perso.person.tab.combined{%endtrans%}</h3></div>
<ul class="info_inline">
  {% for item in job %}
    <li class="controls controls-row">
      <div class="controls controls-row">
        <div class="span2"><strong>{%trans%}perso.entity.combined.start_date{%endtrans%}:</strong> <span>{{ item.startDate|date('d/m/Y') }}</span></div>
        <div class="span2"><strong>{%trans%}perso.entity.combined.end_date{%endtrans%}: </strong>
          {% if item.endDate %}<span>{{ item.endDate|date('d/m/Y') }}</span>{%endif%}
        </div>
        <div class="span2"><strong>{%trans%}perso.entity.combined.comment{%endtrans%}:</strong> <span>{{ item.comment}}</span></div>
      </div>
    </li>
  {% else %}
    <li class="empty_collection alert alert-info">
      {% trans %}perso.form.empty_collection_view{% endtrans %}
    </li>   
  {% endfor %}
</ul>

{% endblock %}
