{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{% block persid %}{{id}}{%endblock%}
{% block activetab %}contact{%endblock%}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}
  <ul class="info_inline">
  <li><span class="label label-info">{%trans%}perso.form.contact_mean{%endtrans%}</span></li>
  {% for contact in contacts %}
    <li>
      {% set typelabel= ['perso.entity.personcontact.type.',contact.getType] | join | trans() %}
      <strong>{{ typelabel }}</strong> : {{ contact.getEntry }} {% if contact.getPrefered == true %}
      ( {%trans%}perso.entity.personcontact.prefered{%endtrans%} ) {% endif %}
    {%if contact.getComment != '' %}
      ({%trans%}perso.entity.premium.comment{%endtrans%} :
        {{ contact.comment }}
      )
    {%endif%}
    </li>
  {% else %}
     <div class="empty_collection alert alert-info">
       {% trans %}perso.form.empty_collection_view{% endtrans %}
     </div>
  {% endfor %}
    <li></li>  
  </ul>  
  <hr />
  <ul class="info_inline">
    <li class="controls"><span class="label label-info">{%trans%}perso.form.contact_address{%endtrans%}</span></li>
    {% for address in addresses %}
      <li class="controls controls-row">
        <div class="span9">
          {{ address.getStreet }} {{ address.getStreetNum }}
          {% if address.getBox != '' %} {%trans%}perso.entity.personadress.box{%endtrans%} {{ address.getBox }} {% endif %},
          {% if address.building != '' or address.buildingFloor != '' %}
            &nbsp;{{ address.building }} {{ address.buildingFloor }}
          {% endif %}
            &nbsp;{{ address.City.code }} {{ address.City.getName }}
          <strong>
          (
          {%if address.getType == 'home' %}{%trans%}perso.entity.personadress.type.0{%endtrans%}
          {% elseif address.getType == 'residence' %}{%trans%}perso.entity.personadress.type.1{%endtrans%}
          {% elseif address.getType == 'work' %}{%trans%}perso.entity.personadress.type.2{%endtrans%}
          {% else %}{%trans%}perso.entity.personadress.type.3{%endtrans%}
          {% endif %}
          )
          </strong>
        </div>
        {%if address.getComment != '' %}
        <div class="span9">({%trans%}perso.entity.premium.comment{%endtrans%} :
          {{ address.comment }})
        </div>
        {%endif%}
      </li>
    {% else %}
      <div class="empty_collection alert alert-info">
        {% trans %}perso.form.empty_collection_view{% endtrans %}
      </div>
    {% endfor %}
    <li></li>
  </ul>
  <hr />

    <ul class="info_inline">
    <li><span class="label label-info">{%trans%}perso.form.contact_building{%endtrans%}</span></li>
    <li></li>
    <li>
      {% if person.building %}<i class=" icon-home"></i> {{person.building}}
        {% if person.buildingFloor %}( {% trans %}perso.form.contact_floor{% endtrans %} : <b>{{person.buildingFloor}}</b>
          {% if person.buildingRoom %}, {% trans %}perso.form.contact_room{% endtrans %} : <b>{{person.buildingRoom}}</b>{% endif %}
          )
        {% endif %}
      {% else %}
        <div class="empty_collection alert alert-info">
          {% trans %}perso.form.empty_collection_view{% endtrans %}
        </div>
      {% endif %}
    </li>
  </ul>
 
{% endblock %}
