
{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}document{%endblock%}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}
 {% set typeActu = '' %}
<div class="controls"><h3>{%trans%}perso.form.document{%endtrans%}</h3></div>
<ul class="info_inline">
  {% for doc in document %}    
    {% if (doc.docType != typeActu) %}
      {% set typeActu = doc.docType %}  
 	<li class="controls"><span class="label label-info">{{doc.docType.getLabel(lang)|trans() | e}}</span></li>
    {%endif%}     
    <li class="controls controls-row">
      <div class="controls controls-row">
        <span class="span2"><strong>{%trans%}perso.entity.document.title{%endtrans%}: </strong>{{ doc.title }}</span>
        <div class="span3">
          <a href="{{ path('document_get', { id:doc.id}) }}"><i class="icon-download-alt"></i> {{ doc.name }}</a>
        </div>
      </div>
    </li>
  {% else %}
    <div class="empty_collection alert alert-info">
      {% trans %}perso.form.empty_collection_view{% endtrans %}
    </div>   
  {% endfor %}
  <li></li>
</ul>

{% endblock %}
