
{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}entry{%endblock%}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}

<div class="controls"><h3>{%trans%}perso.form.entry{%endtrans%}</h3></div>
<ul class="info_inline">
  {% for item in entry %}
    <li class="controls controls-row">
      <div class="controls controls-row">
        <div class="span4"><strong>{%trans%}perso.entity.entry.entry_date{%endtrans%}:</strong> <span>{{ item.entryDate|date('d/m/Y') }}</span></div>
        <div class="span3"><strong>{%trans%}perso.entity.entry.exit_date{%endtrans%}: </strong>
          {% if item.exitDate %}<span>{{ item.exitDate|date('d/m/Y') }}</span>{%endif%}
        </div>
        <div class="span3"><strong>{%trans%}perso.entity.entry.exitReason{%endtrans%}:</strong>
          <span>{{ item.exitReason is null ? '-': attribute(item.exitReason,'name'~ app.request.locale|capitalize) }}</span>
        </div>
      </div>
    </li>
  {% else %}
    <li class="empty_collection alert alert-info">
      {% trans %}perso.form.empty_collection_view{% endtrans %}
    </li>   
  {% endfor %}
</ul>

{% endblock %}
