{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}family{%endblock%}


{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}
{% set trans_prefix = 'form.rbins.persobundle.personworkingtype.PersonFamily.entry.' %}
<ul class="info_inline">  
<li class="controls"><h3>{%trans%}perso.form.family{%endtrans%}</h3></li>  
  {% trans_default_domain "form" %}  
  {% for fam in family %}
    <li class="controls controls-row">
      <div class="controls">
        <span class="label label-info">
        {%if fam.type == 'child' %}{{ (trans_prefix ~ 'type.0')|trans() }}
        {% elseif fam.type == 'spouse' %}{{ (trans_prefix ~ 'type.1')|trans() }}
        {% else %}{{ (trans_prefix ~ 'type.2')|trans() }}
        {% endif %}
        </span>
        <u>{{ fam.fullName }}</u>
      </div>
      <div class="controls controls-row">              
        <span class="span2">
          <strong>{{ (trans_prefix ~ 'gendername')|trans() }} :</strong>
          {{ fam.gender }}
        </span>
        <span class="span3">
          <strong>{{ (trans_prefix ~ 'birth.date')|trans() }} :</strong>
          {{  fam.birthDate is empty ? "-" : fam.birthDate|date('d/m/Y') }}
        </span>       
      </div>
      <div class="controls controls-row">
        <span class="span2">        
          <strong>{{ (trans_prefix ~ 'handicap')|trans() }}  :</strong>
          {% if fam.handicap %}
	    {{ fam.handicap }} pts/%
          {%else%}
	    {{ (trans_prefix ~ 'no')|trans() }}
          {%endif%}
        </span>       
        <span class="span2">
	  <strong>{{ (trans_prefix ~ 'parential.leave')|trans() }}  :</strong>
            {{ (trans_prefix ~ (fam.parentialLeave==true? 'yes':'no'))|trans() }}                    
        </span>                      
        <span class="span3">
	    <strong>{{ (trans_prefix ~ 'allowancename')|trans() }}  :</strong>
            {{ (trans_prefix ~ (fam.allowance==true? 'yes':'no'))|trans() }}  
            {% if fam.allowanceEnd %}
	      ({{ (trans_prefix ~ 'allowance.end')|trans() }} : {{ fam.allowanceEnd|date('d/m/Y') }})
            {%endif%}
        </span>         
      </div>
      <div class="controls controls-row">
        {% if fam.type != 'child' %}        
        <span class="span2">
	  <strong>{{ (trans_prefix ~ 'employed')|trans() }}  :</strong>
            {{ (trans_prefix ~ (fam.employed==true? 'yes':'no'))|trans() }}
        </span> 
        {%endif%}  
        {% if fam.comment %}        
        <span class="span2">
	  <strong>{{ (trans_prefix ~ 'comment')|trans() }} :</strong>
	  {{ fam.comment }}
	</span>
	{%endif%}
      </div>
    </li>
  {% else %}
     <div class="empty_collection alert alert-info">
       {% trans %}form.empty_collection_view{% endtrans %}
     </div>    
  {% endfor %}
  <li></li>
</ul>

{% endblock %}
