{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}hist{%endblock%}
{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}
{% set trans_prefix = 'form.rbins.persobundle.personworkingtype.WorkingHist.entry.' %}
  <div class="alert alert-info">
    <a href="" id="hide_old"><i class="icon-eye-close"></i> {% trans %}perso.form.show_hide_old{% endtrans %}</a>
  </div>
{% set calendar_title = 'perso.hist.calendar_link' |trans() %}
{% set duty_title = 'perso.hist.duty_title' |trans() %}
<div><h3>{%trans%}perso.form.working_hist{%endtrans%}</h3></div>
{% trans_default_domain "form" %}
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>{{ (trans_prefix ~ 'start.date')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'end.date')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'level')|trans() }}</th>    
      <th>{{ (trans_prefix ~ 'lang.level')|trans() }}</th>  
      <th>{{ (trans_prefix ~ 'SalaryGrade')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'linguistic.rolename')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'seniority')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'salary.seniority')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'levelseniority')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'classseniority')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'degree.seniority')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'scale.seniority')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'scientific.seniority')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'replacement.person')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'Status')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'categoryname')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'Grade')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'Reason')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'FunctionFamily')|trans() }}</th>
      <!-- <th>{{ (trans_prefix ~ 'cd.function')|trans() }}</th> -->
      <th>{{ (trans_prefix ~ 'ContractDuration')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'ContractComment')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'SubLevel')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'cost.center')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'comment')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'noticemonths')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'noticeweeks')|trans() }}</th>
    </tr>
  </thead>
  <tbody>
  {% for hist in hists %}
    <tr class="{%  if hist.endDate is defined and  hist.endDate|date('Y/m/d') < ("now"|date('Y/m/d')) %}in_the_past{% endif %}">
      <td nowrap>{{ hist.startDate|date('d/m/Y') }}</td>
      <td nowrap>{{ hist.endDate?hist.endDate|date('d/m/Y'):''}}</td>
      <td nowrap>{{ hist.level }}</td> 
      <td nowrap>{{ hist.langLevel is null ? '-' : hist.langLevel }}</td> 
      <td nowrap>{{ hist.SalaryGrade is null ? '-' : attribute(hist.SalaryGrade,'name'~ app.request.locale|capitalize)|default('-') }}</td> 
      <td nowrap>{{ hist.linguisticRole }}</td>
      <td nowrap>{%if (hist.seniority) %}{{ hist.seniority|date('d/m/Y') }}{%else%}-{% endif %}</td>  
      <td nowrap>{%if (hist.salarySeniority) %}{{ hist.salarySeniority|date('d/m/Y') }}{%else%}-{% endif %}</td>
      <td nowrap>{%if (hist.levelseniority) is not empty %}{{ hist.levelseniority|date('d/m/Y') }}{%else%}-{% endif %}</td>
      <td nowrap>{%if (hist.classseniority) is not empty %}{{ hist.classseniority|date('d/m/Y') }}{%else%}-{% endif %}</td>
      <td nowrap>{%if (hist.degreeSeniority) is not empty %}{{ hist.degreeSeniority|date('d/m/Y') }}{%else%}-{% endif %}</td>
      <td nowrap>{%if (hist.scaleSeniority) is not empty %}{{ hist.scaleSeniority|date('d/m/Y') }}{%else%}-{% endif %}</td>
      <td nowrap>{%if (hist.scientificSeniority) is not empty %}{{ hist.scientificSeniority|date('d/m/Y') }}{%else%}-{% endif %}</td>
      <td nowrap>{{ hist.ReplacementPerson| default('-') }}</td>
      <td nowrap>{{ hist.Status is null ? '-' : attribute(hist.Status,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <td nowrap>{{ (trans_prefix ~ 'category.' ~ hist.category)|trans() }}</td>
      <td nowrap>{{ hist.Grade is null ? '-' : attribute(hist.Grade,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <td nowrap>{{ hist.Reason is null ? '-' : attribute(hist.Reason,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <td nowrap>{{ hist.FunctionFamily is null ? '-' : attribute(hist.FunctionFamily,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <!-- <td nowrap>{{ hist.cdFunction }}</td>  -->
      <td nowrap>{{ hist.ContractDuration is null ? '-' : attribute(hist.ContractDuration,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <td nowrap>{{ hist.ContractComment is null ? '-' : attribute(hist.ContractComment,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <td nowrap>{{ hist.SubLevel is null ? '-' : attribute(hist.SubLevel,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <td nowrap>{{ hist.costCenter }}</td>
      <td nowrap>{{ hist.comment }}</td>
      <td nowrap>{{ hist.noticeMonths }}</td>
      <td nowrap>{{ hist.noticeWeeks }}</td>
    </tr>
  {% else %}
    <tr>
      <td class="empty_collection alert alert-info" colspan="23">
        {% trans %}form.empty_collection_view{% endtrans %}
      </td>
    <tr>
  {% endfor %}
  </tbody>
</table>
{% set trans_prefix = 'form.rbins.persobundle.personworkingtype.WorkingDuty.entry.' %}
<div><h3>{{ duty_title }}</h3></div>
<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th>{{ calendar_title }}</th>
      <th>{{ (trans_prefix ~ 'start.date')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'end.date')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'percentage')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'Cause')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'Department')|trans() }}</th>
      <th>{{ (trans_prefix ~ 'comment')|trans() }}</th>
    </tr>
  </thead>
  <tbody>
  {% for duty in duties %}
    <tr class="{%  if duty.endDate is defined and  duty.endDate|date('Y/m/d') < ("now"|date('Y/m/d')) %}in_the_past{% endif %}">
      <td nowrap><a href="{{ path('person_calendar',{ 'id': persid, 'hist': duty.id,'action':'view'})}}" class="btn">
        <i class="icon-calendar" ></i></a>
      </td>
      <td nowrap>{{ duty.startDate|date('d/m/Y') }}</td>
      <td nowrap>{{ duty.endDate?duty.endDate|date('d/m/Y'):''}}</td>
      <td nowrap>{{ duty.percentage }} %</td> 
      <td nowrap>{{ duty.Cause is null ? '-' : attribute(duty.Cause,'name'~ app.request.locale|capitalize)|default('-') }}</td>
      <td nowrap>{{ duty.Department.label(lang) }}</td>
      <td nowrap>{{ duty.comment }}</td>
    </tr>
  {% else %}
    <tr>
      <td class="empty_collection alert alert-info" colspan="23">
        {% trans %}form.empty_collection_view{% endtrans %}
      </td>
    <tr>
  {% endfor %}
  </tbody>
</table>


<script type="text/javascript">
$(document).ready(function(){
  $('#hide_old').click(function(e) {
    e.preventDefault();
    toogleInThePast();
  });
});

function toogleInThePast() {
  if ($('tr.in_the_past').is(':visible'))
    $('tr.in_the_past').hide();
  else
    $('tr.in_the_past').show();
}
</script>
{% endblock %}
