{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{% block activetab %}personnal{%endblock%}
{% block persid %}{{person.id}}{%endblock%}
{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}
  {% set trans_prefix = 'form.rbins.persobundle.persontype.' %}
  <div class="controls"><h3>{%trans%}perso.form.info{%endtrans%}</h3></div>
  {% trans_default_domain "form" %}
  <dl class="dl-horizontal">
    <dt title="{{ (trans_prefix ~ 'last.name') | trans()}}/{{ (trans_prefix ~ 'first.name') | trans()}}">
      {{ (trans_prefix ~ 'last.name') | trans()}}/{{ (trans_prefix ~ 'first.name') | trans()}}
    </dt>
    <dd>
      {{ person.lastName }} {{ person.firstName }}
      {% if person.aliasFirstName or person.aliasLastName %}
	     ({{ (trans_prefix ~ 'alias.title') | trans()}} : {{ person.aliasLastName?person.aliasLastName:person.lastName }} {{ person.aliasFirstName?person.aliasFirstName:person.firstName }} )
      {%endif%}
    </dd>
    <dt title="{{ (trans_prefix ~ 'mother.tongue') | trans()}}">{{ (trans_prefix ~ 'mother.tongue') | trans()}}</dt>
      <dd>{{ person.motherTongue }}</dd>
    <dt title="{{ (trans_prefix ~ 'gendername') | trans()}}">{{ (trans_prefix ~ 'gendername') | trans()}}</dt>
      <dd>{{ person.gender }}</dd>
    <dt title="{{ (trans_prefix ~ 'birth.date') | trans()}}">{{ (trans_prefix ~ 'birth.date') | trans()}}</dt>
      <dd>{{ person.birthDate|date('d/m/Y') }}
      <strong>{{ (trans_prefix ~ 'birth.place') | trans()}}</strong> {{ person.birthPlace|default('-') }}
      ({{person.getAge(person.birthDate|date('d/m/Y'))}} {%trans%}form.rbins.persobundle.persontype.birth.age{%endtrans%}) 
      </dd>
    <dt title="{{ (trans_prefix ~ 'nationality') | trans()}}">{{ (trans_prefix ~ 'nationality') | trans()}}</dt>
      <dd>{{ attribute(person.nationality,'name'~ app.request.locale|capitalize) }}</dd>
    <dt title="{{ (trans_prefix ~ 'maritalStatus') | trans()}}">{{ (trans_prefix ~ 'maritalStatus') | trans()}}</dt>
      <dd>{{ attribute(person.maritalStatus,'name'~ app.request.locale|capitalize)|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'passport.nr') | trans()}}">{{ (trans_prefix ~ 'passport.nr') | trans()}}</dt>
      <dd>{{ person.passportNr|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'matricule') | trans()}}">{{ (trans_prefix ~ 'matricule') | trans()}}</dt>
      <dd>{{ person.matricule|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'identitycard.nr') | trans()}}">{{ (trans_prefix ~ 'identitycard.nr') | trans()}}</dt>
      <dd>{{ person.identitycardNr|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'national.nr') | trans()}}">{{ (trans_prefix ~ 'national.nr') | trans()}}</dt>
      <dd>{{ person.nationalNr|default('-') }}</dd>
    <hr />
    <dt title="{{ (trans_prefix ~ 'account.iban.nr') | trans()}}">{{ (trans_prefix ~ 'account.iban.nr') | trans()}}</dt>
      <dd>{{ person.accountIbanNr|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'account.bic.nr') | trans()}}">{{ (trans_prefix ~ 'account.bic.nr') | trans()}}</dt>
      <dd>{{ person.accountBicNr|default('-') }}</dd>
    <dt title="{{ (trans_prefix~'other.account.holder')|trans()}}">{{ (trans_prefix~'other.account.holder')|trans()}}</dt>
      <dd>{{ person.OtherAccountHolder|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'dimona.nr') | trans()}}">{{ (trans_prefix ~ 'dimona.nr') | trans()}}</dt>
      <dd>{{ person.dimonaNr|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'sis.nr') | trans()}}">{{ (trans_prefix ~ 'sis.nr') | trans()}}</dt>
      <dd>{{ person.sisNr|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'med.number') | trans()}}">{{ (trans_prefix ~ 'med.number') | trans()}}</dt>
      <dd>{{ person.medNumber|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'MedCenter') | trans()}}">{{ (trans_prefix ~ 'MedCenter') | trans()}}</dt>
      <dd>{{ person.MedCenter|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'payroll.taxname') | trans()}}">{{ (trans_prefix ~ 'payroll.taxname')| trans()}}</dt>
      <dd>{{(trans_prefix~'payroll.tax.' ~ (person.payrollTax?'1':'0')) |trans()}}</dd>
    <dt title="{{ (trans_prefix ~ 'dependancename') | trans()}}">{{ (trans_prefix ~ 'dependancename')| trans()}}</dt>
      <dd>{{(trans_prefix~'dependance.' ~ (person.dependance?'1':'0')) |trans()}}</dd>
    <dt title="{{ (trans_prefix~'household.allowancename')|trans()}}">{{ (trans_prefix~'household.allowancename') | trans()}}</dt>
      <dd>{{(trans_prefix ~ 'household.allowance.' ~ (person.householdAllowance?'1':'0')) |trans()}}</dd>
    <dt title="{{ (trans_prefix~'residence.allowancename')|trans()}}">{{ (trans_prefix~'residence.allowancename') | trans()}}</dt>
      <dd>{{(trans_prefix ~ 'residence.allowance.' ~ (person.residenceAllowance?'1':'0')) | trans()}}</dd>
    <dt title="{{ (trans_prefix ~ 'FunctionalChief') | trans()}}">{{ (trans_prefix ~ 'FunctionalChief') | trans()}}</dt>
      <dd>{{ person.FunctionalChief|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'ResponsibleChief') | trans()}}">{{ (trans_prefix ~ 'ResponsibleChief') | trans()}}</dt>
    <dd>{{ person.ResponsibleChief|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'Degree') | trans()}}">{{ (trans_prefix ~ 'Degree') | trans()}}</dt>
      <dd>{{ person.Degree|default('-') }}</dd>
    <dt title="{{ (trans_prefix ~ 'senior.workingname') | trans()}}">{{ (trans_prefix ~ 'senior.workingname') | trans()}}</dt>
      <dd>{{ (trans_prefix ~ 'senior.working.' ~ (person.seniorWorking?'1':'0'))  | trans() }}</dd>
    <dt title="{{ (trans_prefix ~ 'senior.working.date') | trans()}}">{{ (trans_prefix ~ 'senior.working.date') | trans()}}</dt>
      <dd>{{ person.seniorWorkingDate?person.seniorWorkingDate|date('d/m/Y'):'-' }}</dd>
    <dt title="{{ (trans_prefix ~ 'handicapname') | trans()}}">{{ (trans_prefix ~ 'handicapname') | trans()}}</dt>
      <dd>{% if person.handicap %}{{ person.handicap }} pts/%{%else%}{{ (trans_prefix ~ 'dependance.0')|trans() }}{%endif%}</dd>
    {% if person.homework %}
    <dt title="{{ (trans_prefix ~ 'homeworkname') | trans()}}">{{ (trans_prefix ~ 'homeworkname') | trans()}}</dt>
      <dd>{{ (trans_prefix ~ 'homework.' ~ person.homework) | trans()}}</dd>
    {% endif %}
    {% if person.comment %}
    <dt title="{{ (trans_prefix ~ 'comment') | trans()}}">{{ (trans_prefix ~ 'comment') | trans()}}</dt>
      <dd>{{ person.comment|default('-') }}</dd>
    {% endif %}
    <dt title="{{ (trans_prefix ~ 'handicap.perc') | trans()}}">{{ (trans_prefix ~ 'handicap.perc') | trans()}}</dt>
      <dd>{{ person.handicapPerc }}</dd>
    <dt title="{{ (trans_prefix ~ 'Frame') | trans()}}">{{ (trans_prefix ~ 'Frame') | trans()}}</dt>
      <dd>{{ person.Frame }}</dd>
  </dl>
{% endblock %}
