{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{% block persid %}{{id}}{%endblock%}
{% block activetab %}phonebook{%endblock%}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}
    <ul class="family">
    <li><strong>{%trans%}perso.form.rbins_mail{%endtrans%}</strong> : {{ person.email }}</li>
    <li><strong>{%trans%}perso.menu.catalogue.workfunction{%endtrans%}</strong> : {{ person.workfunction | trans() }}</li>
    {% if person.description == '' %}
      <li>
        <div class="empty_collection alert alert-info">
            {% trans %}perso.form.empty_collection_view{% endtrans %}
        </div>
      </li>
    {%else%}
      <li><span class="label label-info">{%trans%}perso.form.description{%endtrans%}</span></li>
      <li>
        <blockquote>
          {{ person.description|title }}
        </blockquote>
      </li>
     {%endif%}
  </ul>
  <hr>
  <ul class="info_inline">
  <li><span class="label label-info">{%trans%}perso.form.contact_mean{%endtrans%}</span></li>
  {% for info in infos %}
    <li>
      {% set typelabel= ['perso.entity.personcontact.type.',info.getType] | join | trans() %}
      <strong>{{ typelabel }}</strong> : {{ info.getEntry }}
    </li>
  {% else %}
     <div class="empty_collection alert alert-info">
       {% trans %}perso.form.empty_collection_view{% endtrans %}
     </div>
  {% endfor %}
    <li></li>  
  </ul>   
{% endblock %}
