{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}premium{%endblock%}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}

<div class="controls"><h3>{%trans%}perso.form.premium{%endtrans%}</h3></div>
  <ul class="info_inline">
    {% for prem in premium %}
      <li class="controls controls-row">
        <div class="controls controls-row">
          <span class="span2"><strong>{%trans%}perso.entity.premium.date_from{%endtrans%}: </strong>{{prem.startDate|date('d/m/Y')}}</span>
          <span class="span2"><strong>{%trans%}perso.entity.premium.date_to{%endtrans%}: </strong>{{prem.endDate|date('d/m/Y')}}</span>
          <span class="span1"><strong>{%trans%}perso.entity.premium.type{%endtrans%}: </strong>{{attribute(prem.Premium,'name'~ app.request.locale|capitalize) }}</span>
        </div>
        {% if prem.comment %}
	<div class="controls">
          <span><strong>{%trans%}entity.premium.comment{%endtrans%}: </strong>{{prem.comment}}</span>	  
        </div>
        {%endif%}
     </li>
    {% else %}
      <div class="empty_collection alert alert-info">
        {% trans %}perso.form.empty_collection_view{% endtrans %}
      </div>     
    {% endfor %}    
  </ul>
{% endblock %}
