{% extends 'RbinsPersoBundle:Person:person_layout.html.twig' %}

{# Set value for person.html layout integration #}
{% block persid %}{{id}}{%endblock%}
{% block activetab %}transport{%endblock%}

{% block content_form %}
{{ include ('RbinsPersoBundle::toggle_view.html.twig',{'action':'edit'}) }}

<div class="controls"><h3>{%trans%}perso.form.transport.type{%endtrans%}</h3></div>
{% trans_default_domain "form" %}
{% set trans_prefix = 'form.rbins.persobundle.personworkingtype.Transport.entry.' %}
<ul class="info_inline">
  {% for trans in transport %}
    <li class="controls controls-row">
      <div class="controls alert alert-info"><strong>-
        {% if trans.bike %}{{ (trans_prefix ~ 'bike') | trans({},'form')}}{%endif%}
        {% if trans.car %}{{ (trans_prefix ~ 'car') | trans({},'form')}}{%endif%}
        {% if trans.delijn %}{{ (trans_prefix ~ 'delijn') | trans({},'form')}}{%endif%}
        {% if trans.tec %}{{ (trans_prefix ~ 'tec') | trans({},'form')}}{%endif%}
        {% if trans.sncb %}{{ (trans_prefix ~ 'sncb') | trans({},'form')}}{%endif%}
        {% if trans.stibmivb %}{{ (trans_prefix ~ 'stibmivb') | trans({},'form')}}{%endif%}
        {% if trans.isEffective %}({{ (trans_prefix ~ 'is.effective') | trans({},'form')}}){%endif%}
      </strong></div>
      {% if trans.cityFrom is not null %}
      <div class="controls controls-row">
      <span class="span3"><strong>{{ (trans_prefix ~ 'city.from') | trans({},'form')}}:</strong> {{trans.cityFrom}}</span>
      <span class="span3"><strong>{{ (trans_prefix ~ 'city.to') | trans({},'form')}}:</strong> {{trans.cityTo}}</span>
      <span class="span3"> {% if trans.km %}({{trans.km}} {{ (trans_prefix ~ 'km') | trans({},'form')}}:){%endif%}</span>
      </div>
      {% endif %}
      {% if trans.startDate is not null %}
      <div class="controls controls-row">
      <span class="span3"><strong>{{ (trans_prefix ~ 'start.date') | trans({},'form')}}:</strong> {{trans.startDate|date('d/m/Y')}}</span>
      <span class="span3">
        <strong>{{ (trans_prefix ~ 'end.date') | trans({},'form')}}:</strong>
        {{trans.enddate is null ? '-':trans.enddate|date('d/m/Y')}}
      </span>
      </div>
      {%endif%}            
      <div class="controls controls-row">
      {% if trans.giveback %}
        <span class="span3"><strong>{{ (trans_prefix ~ 'givenback') | trans({},'form')}}</strong></span>        
      {% endif%}
      {% if trans.numberplate %}
	       <span class="span3"><strong>{{ (trans_prefix ~ 'numberplate') | trans({},'form')}}:</strong> {{trans.numberplate}}</span>
      {%endif%}      
      {% if trans.parkingCardDate %}
	       <span class="span3"><strong>{{ (trans_prefix ~ 'parking.card.date') | trans({},'form')}}:</strong> {{trans.parkingCardDate|date('d/m/Y')}}</span>
      {%endif%}            
      </div>      
      {% if trans.giveback and trans.isEffective %}
      <div class="controls controls-row">
        <div class="label label-warning span9">{% trans %}form.rbins.persobundle.personworkingtype.Transport.weird{% endtrans %}</div>
      </div>
      {% endif %}
    </li>
  {% else %}
     <div class="empty_collection alert alert-info">
       {% trans %}form.empty_collection_view{% endtrans %}
     </div>    
  {% endfor %}
  <li></li>  
</ul>
{% endblock %}
