{% extends 'form_div_layout.html.twig' %}

{% block form_row %}
{% spaceless %}
  <div class="input-prepend {{ rowclass|default('') }}  {% if errors|length > 0 %}with_error{% endif %}">
    <span class="add-on">{{ form_label(form)}}</span>
    {{ form_widget(form) }}
  </div>
{% endspaceless %}
{% endblock form_row %}


{% block form_label %}
{% spaceless %}
{% trans_default_domain "form" %}

{% if required %}
  {% set required_add %}
    {% spaceless %}
      <span class="required">*</span>
    {% endspaceless %}
  {% endset %}
{% endif %}
{% set lbl = 'form' ~ unique_block_prefix %}
  <label for="{{ id }}" {% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {% if multiple|default(false) %}   
      {{ [lbl,'name']|join|replace({'_':'.'}) |trans }}
    {% else %}
      {{ lbl|replace({'_':'.'})|trans }}
    {% endif %}
    {{required_add|default('')}}</label>
{% endspaceless %}
{% endblock form_label %}

{% block date_widget %}
{% spaceless %} 
    {% if widget == 'single_text'%}
        {{ parent() }}
          <script>
          $(function() {
            $( "#{{ id }}" ).datepicker({
                dateFormat: 'dd/mm/yy'
              });
             $( "#{{ id }}" ).datepicker("option", $.datepicker.regional[ "{{app.request.locale}}" ] );
          });
          </script>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endspaceless %}
{% endblock date_widget %}

{% block choice_widget_collapsed %}
{% spaceless %}
      {{ parent() }}
      <script>
      $(function() {
        $( "#{{ id }}" ).combobox();
      });
      </script>
{% endspaceless %}
{% endblock choice_widget_collapsed %}


{% block form_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
    <ul class="errors_list">
        {% for error in errors %}
            <li class="alert alert-error">{{
                error.messagePluralization is null
                    ? error.messageTemplate|trans(error.messageParameters, 'validators')
                    : error.messageTemplate|transchoice(error.messagePluralization, error.messageParameters, 'validators')
            }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endspaceless %}
{% endblock form_errors %}

{% block checkbox_widget %}
{% spaceless %}
    <span class="perso_checkbox">
    {{ parent() }}
    </span>
{% endspaceless %}
{% endblock checkbox_widget %}


{% block choice_widget_options %}
{% spaceless %}
{% set translation_domain = "form" %}
    {% for group_label, choice in options %}
        {% if choice is iterable %}
            <optgroup label="{{ group_label|trans({}, translation_domain) }}">
                {% set options = choice %}
                {{ block('choice_widget_options') }}
            </optgroup>
        {% else %}
            <option value="{{ choice.value }}"{% if choice is selectedchoice(value) %} selected="selected"{% endif %} {% if choice.label|replace({'$$': ''}) != choice.label %}data-custom="disabled"{%endif%} >{%spaceless%}
            {{ choice.label|replace({'$$': ''})|trans({}, translation_domain) }}
            {% endspaceless %}</option>
        {% endif %}
    {% endfor %}
{% endspaceless %}
{% endblock choice_widget_options %}


{% block autocomplete_widget %}
  {% spaceless %}
    {% set type = type|default('text') %}
    <div class="ui-combobox btn-group autocomplete_widget">
     <input type="hidden" {{ block('widget_attributes') }} {% if value is not empty %}value="{{ value.id }}" {% endif %}/>
     <input autocomplete="off" type="{{ type }}" id="{{ id }}_label_input" value="{{ attribute(value,'label_' ~ app.request.locale)|default('') }}" {% if read_only %} readonly="readonly"{% endif %}{% if disabled %} disabled="disabled"{% endif %}{% if required %} required="required"{% endif %}{% if max_length %} maxlength="{{ max_length }}"{% endif %}{% if pattern %} pattern="{{ pattern }}"{% endif %}
      class="ui-state-default ui-combobox-input ui-autocomplete-input input-medium ui-widget ui-widget-content ui-corner-left">
      <a tabindex="-1" class="ui-button ui-widget ui-state-default ui-button-icon-only ui-corner-right ui-combobox-toggle btn dropdown-toggle"
        role="button" title=""><span class="ui-button-icon-primary ui-icon ui-icon-triangle-1-s"></span></a>
    </div>
    <script type="text/javascript">
    $(document).ready(function(){
      $("#{{ id }}_label_input").catcomplete({source: "{{ path(source_path) }}"});
    });
    </script>
  {% endspaceless %}
{% endblock %}

{% block file_widget %}
  {% spaceless %}
    {% set translation_domain = "messages" %}
    <div class="input-append span10" style="position:relative">
      {{form_widget(form)}}
      <input type="text" class="span6" id="inputfilevalue" placeholder="{% trans %}perso.form.file{% endtrans %}">
      <button type="button" class="btn">{% trans %}perso.sidebar.search.ph{% endtrans %}</button>
    </div>
    <script type="text/javascript">
    $(document).ready(function () 
    {   
      $('.input_file_style').bind('change', function() {
        value = $(this).val().replace("C:\\fakepath\\", "") ; ;
        $('input#inputfilevalue').val(value);
      });
    });
    </script>
  {% endspaceless %}
{% endblock %}