{% for type, flashMessages in app.session.flashbag.all() %}
    {% for flashMessage in flashMessages %}
        <div class="alert alert-{{ type }}">
          <button class="close" type="button" data-dismiss="alert">×</button>
            {{ flashMessage|trans() }}
        </div>
    {% endfor %}
{% endfor %}
