{% macro input(form,class,input_class) %}
  <div class="input-prepend {{ class|default('') }}">
    <span class="add-on">{{ form_label(form)}}</span>
  {{ form_widget(form,{ 'attr': {'class': input_class } }) }}
  </div>
{% endmacro %}

{% macro combo(form,id,class) %}
<div class="input-prepend input-append {{ class|default('') }}">
  <div class="btn-group">
    <span class="add-on">
      {{form_label(form)}}
    </span> 
    {{ form_widget(form) }}      
    <script>
    $(function() {
      $( "#{{ id }}" ).combobox();
    });
    </script> 
  </div>     
</div>
{% endmacro %}
