<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Galileo DB{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="stylesheet" href="{{ asset('bundles/rbinsperso/bootstrap/css/bootstrap.min.css') }}" type="text/css" media="all" />
        <link rel="stylesheet" href="{{ asset('bundles/rbinsperso/bootstrap/css/bootstrap-responsive.min.css') }}" type="text/css" media="all" />

        <link rel="stylesheet" href="{{ asset('bundles/rbinsperso/jquery-ui-1.9.0.custom/css/smoothness/jquery-ui-1.9.0.custom.min.css') }}" type="text/css" media="all" />
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
        <link rel="shortcut icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block javascriptsheader %}{% endblock %}
        {% javascripts '@RbinsPersoBundle/Resources/public/jquery-ui-1.9.0.custom/js/jquery-1.8.2.js'
          '@RbinsPersoBundle/Resources/public/bootstrap/js/bootstrap.min.js'
          '@RbinsPersoBundle/Resources/public/jquery-ui-1.9.0.custom/js/jquery-ui-1.9.0.custom.js'
          '@RbinsPersoBundle/Resources/public/jquery-ui-1.9.0.custom/js/jquery-ui-i18n.js' %}
          <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </head>
    <body>
        <a name="top"></a>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}

    </body>
</html>