@import "compass"; 
@import "breakpoint";
@import url(https://fonts.googleapis.com/css?family=Lato);
$blue: #008798 ; // blue
$bg_menu_color: #f3f3f3 ; // light gray
$menu_color: #5F5F5F ; //gray
$title_text_color: #FB9A1C ;//orange
$shadow: #888 ; // dark_grey
$active_tab: #1a616b ; // dark blue

$tablet: 768px 979px ;
$phone : 0px 767px;

@mixin rounded($rounding) {
  -webkit-border-radius: $rounding;
  -moz-border-radius: $rounding;
  -ms-border-radius: $rounding;
  -o-border-radius: $rounding;
  border-radius: $rounding;
}

@mixin boxshadow($data)
{
  -moz-box-shadow: $data;
  -webkit-box-shadow: $data;
  box-shadow: $data;
}

@mixin bg-linear-gradient($start, $color-start, $color-end, $repeat:"", $position:"")
{
  background: -webkit-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; /* For Safari */
  background: -o-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; /* For Firefox 3.6 to 15 */
  background: -ms-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; 
  background: linear-gradient(to $start, $color-start, $color-end) #{$repeat} #{$position}; /* For Firefox 3.6 to 15 */
}


@mixin cadre($color, $border, $rounding: 0px)
{
  border : 1px $border $color ;
  @include rounded($rounding) ;
}

.email { width: 16px; background-image: url(/images/email-icone.png) ; padding-right: 4px ;}
.fax { width: 16px; background-image: url(/images/fax-icone.png)}
.smartphone { width: 16px; background-image: url(/images/smartphone-icone.png)}
.telephone { width: 16px; background-image: url(/images/telephone-icone.png)}

body {   
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  overflow-y: scroll;
  padding: 0 !important;
  @include bg-linear-gradient(bottom, #5b4635 0%, #978f84 100%, no-repeat, fixed);
}

div.content
{
  margin: auto !important ;  
  max-width: 1170px;
}

textarea { width: 300px !important;}
.inner-body
{
  min-height: 500px;
  padding-bottom: 20px;
  & > div > div.span3 
  {

  }
}

a { text-decoration: none  !important; color: $blue ; }
a:hover { text-decoration: none !important ; }
ul {list-style: none ;}
.orange {color: $title_text_color ;}
h5 { margin: 10px 0 0 10px !important; }
.container-fluid { padding-left:0px !important; padding-right: 0px !important; background: white ; }
.no-margin-left{ margin-left: 0 !important; }

#topBar
{
  margin-top: 0;
  margin-bottom: 0;
  background: $bg_menu_color ;
  color: #666;
  line-height: 34px;
  padding-bottom: 5px;
  .language-switcher-locale-url
  {
    margin-top: 5px;
    margin-bottom: 10px;
    & > li 
    {
      margin-bottom: 5px;
      text-align: right;
      list-style: none;
      width: 25% ;
      float: left ;
      & > a
      {
        font-size: 16px;
        color: #858585 ;
      }
      &.active > a { color: $title_text_color ; }
    }
  }
  & > div.row-fluid > div:nth-of-type(1),& > div.row-fluid > div:nth-of-type(2) 
  {
    @include breakpoint($tablet) { display: none !important;};
    @include breakpoint($phone) { display: none !important;} ;
  }
  .login_infos > ul
  {
    @include breakpoint($tablet) { display: none !important;} 
    margin: 10px 0 10px;
    & > li 
    {
      list-style: none;
      width: 30% ;
      float: left ;
      & > a
      {
        font-size: 16px;
        color: #858585 ;
      }
    }
  }
}

header
{
  border-bottom: 5px solid $bg_menu_color ;
  & > div.span7 { @include breakpoint($tablet) { width: 100% !important;}  }
}
.locale_container > div {display: inline;}
.logo-block 
{
  @include breakpoint($tablet) { display: none !important;} 
  @include breakpoint($phone) { display: none !important;}
  margin-top: 14px;
  padding-left: 28px ;
  h1
  {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 130%;
    font-weight: 300 ;
    line-height: 100%;
    padding-top: 2px;
    a { color: black; text-decoration: none ; }
  } 
}
.display_title
{
  height: 70px;
  padding: 15px 5px 5px 2% ;  
  & > h1
  {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 200%;
    text-align: center;
    margin-top: 15px;
    // display: inline ;
  }
}
.pb_tab_menu
{
  width: 100% ;
  height: 25px ;
  padding: 0 2%;
  display: inline-block;
  & > ul 
  {
    margin: 0 10px 10px 0 ;
    list-style: none ;
    display: block;
    & > li 
    {
      background: $bg_menu_color;//#E5E5E5 ;
      width: 20%;
      margin-right: 5%;
      margin-top: 0px;
      float: left;
      padding: 0;
      list-style: none;
      margin-bottom: 20px;
      text-align: center; 
      font-size: 13px; 
      @include rounded(0px 0px 3px 3px);  
      &.active { background: $active_tab ;}
      &.active > a { color: white ;}
      & > a
      {
        color : $menu_color;
        padding: 8px 0 8px 0 ;
        display : block;
        text-transform: uppercase;
        font-family: inherit;
        &:hover {color: $blue;}
      }
    }
  }  
}

.person-search
{
  position: relative;  
  float: left ;  
  margin: 20px 10% 20px ;
}

.dpt-list
{
  margin: 20px 0 10% 10px ;
  & > ul 
  {    
    list-style: none ;
    & > li 
    {
      @include cadre(darken($bg_menu_color,10%), solid, 15px 0 15px 0) ;
      background-color: $bg_menu_color ;      
      margin: 5px 0 5px ;
    }
    & > li > div
    {
      margin-left: 5px;
      cursor: pointer;
      & > a { color: black ; }   
      &:hover > a { color: $title_text_color }
    }
  } 
  ul.sections
  {
    margin: 0 0 5px 10px;
    display: none ;
    & > li 
    {
      @include bg-linear-gradient(left bottom, white 90%, $menu_color 100%);
      border-bottom: 1px dotted $menu_color ;
      cursor: pointer;      
      &:hover > a { color: black ;}
      & > a { color: $blue; }
    }
  }
}
.card_appearence
{
  font-size: 10pt ;
  @include cadre($shadow,solid, 15px) ; 
  @include boxshadow(5px 10px 5px lighten($menu_color,20%));
  background-color: $bg_menu_color ;
  margin-bottom: 12px ;    
  width: 90% ;
}

#pb_results
{
  padding-left: 4% ;
  width: 100% ;
  overflow: hidden ;
  .not_displayed {display: none ; height: 0px}
  h4 
  {
    margin: 2px 0px 2px 8px ;
    font-size: 14pt ;
    color: $blue ;
    display: inline;
  }
  & > div > .expanded
  {    
    @extend .card_appearence ;
    .pb_photo { margin: 7px; width: 150px; }
    .pb_photo > img
    {
      width: auto ;
      height: auto ;
      min-height: 120px;
      min-width: 100px;
      max-width: 150px ;
      max-height: 150px ;
    }
    margin-top: 0px !important;
    .person_with_photo { margin: 2px 5px 5px 8px !important ;}
    .person_no_photo { margin: 2px 5px 5px 3em !important ;}
    .situation { display: inline;}
    .fixedmail { padding-left: 2px; }
    .description {  font-style: italic; clear: both; padding-left: 5px; padding-right: 5px ;}
    .media {display: inline-block; }
    .moreinfo { margin-left: 20px;  cursor:pointer; clear: both; display: block}
    div.more { display: none ;}
    & > div > span { cursor: pointer ; }
    ul.expanded
    { 
      display: inline-block;
      vertical-align: top ;      
      list-style-type: none; 
      border-bottom: groove thin $bg_menu_color;
      margin-left: 1em ;
      margin-right: 1em ;      
      & > li
      {
        padding-left: 5px;
        border-left: 4px outset $bg_menu_color ;
      }      
    }
  }
  & >  div > .minimised
  {
    .inner-expanded {display: none ;}
    cursor: pointer;
    @extend .card_appearence ;
    & > div { margin: 2px 2px 2px 5px ; display: inline-block; }
    & > div > i { margin-left: 1em ; }
    &:hover {background-color: lighten($bg_menu_color,20%) ; @include boxshadow(5px 10px 5px #7497A3); }      
    .compact { margin-left: 5px ; }
  }
}
.alpha
{
  @include breakpoint($tablet) { margin: 0px 0px 10px 4% !important ;font-size: 18pt;}
  @include breakpoint($phone) { margin: 0px 0px 10px 4% !important;font-size: 18pt;}  
  //font-size: 15pt;
  margin-left: 4% !important ;
  text-align: left ;
  & > a:hover { 
    @include boxshadow(0px 0px 20px lighten($menu_color,20%));
    background-color: $menu_color ;
    text-decoration: none ;
  }
}
.pb_email
{
  background: url(/images/email.png) no-repeat 103px 3px;
  height: 32px;
  position: fixed;
  padding-left:135px;
}
.pb-info { margin-top: 15px ;}
.pb_profile
{
  margin: 0px 1% 0 1% ;
}

#usefull
{
  caption { color: $title_text_color ; font-size: 200% }
}

.frames {
  clear: both !important;
  position: absolute !important; 
  float: left;
}
.removephoto_text
{
  height: 2em;
  padding-right:1em; 
  min-width: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}
.h1, h2, h3, h4, h5, h6 {
  font-weight:400;
}

#pb_results h4 {
  font-size:15px;
  text-transform: uppercase;
  margin-right: 6px;

}
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised {
  background-color: #f3f3f3;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #b4b3b3;
  font-size: 10pt;
  margin-bottom: 12px;
  width: 90%;
  border: 0 solid #888888;
}
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised:hover {

  box-shadow: 2px 2px 5px #929292;

}


.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised a {

  color: #008798;

}
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .expanded a {

  color: black;

}

img {
  margin: 4px;

}
.display_title > h1 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 148%;
  font-weight: 300;
  margin-top: 15px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 4px;

}
#pb_results > div > .expanded .fixedmail a {
  color: #008798;
}

div[Title=Téléphone] a {
  color: #008798 !important;
}

.pagination-small ul > li > a, .pagination-small ul > li > span {
  color: red;
}
