@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato);
/* line 45, ../../sass/sass/phonebook.scss */
.email {
  width: 16px;
  background-image: url(/images/email-icone.png);
  padding-right: 4px;
}

/* line 46, ../../sass/sass/phonebook.scss */
.fax {
  width: 16px;
  background-image: url(/images/fax-icone.png);
}

/* line 47, ../../sass/sass/phonebook.scss */
.smartphone {
  width: 16px;
  background-image: url(/images/smartphone-icone.png);
}

/* line 48, ../../sass/sass/phonebook.scss */
.telephone {
  width: 16px;
  background-image: url(/images/telephone-icone.png);
}

/* line 50, ../../sass/sass/phonebook.scss */
body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  overflow-y: scroll;
  padding: 0 !important;
  background: -webkit-linear-gradient(bottom, #5b4635 0%, #978f84 100%) no-repeat fixed;
  /* For Safari */
  background: -o-linear-gradient(bottom, #5b4635 0%, #978f84 100%) no-repeat fixed;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(bottom, #5b4635 0%, #978f84 100%) no-repeat fixed;
  /* For Firefox 3.6 to 15 */
  background: -ms-linear-gradient(bottom, #5b4635 0%, #978f84 100%) no-repeat fixed;
  background: linear-gradient(to bottom, #5b4635 0%, #978f84 100%) no-repeat fixed;
  /* For Firefox 3.6 to 15 */
}

/* line 58, ../../sass/sass/phonebook.scss */
div.content {
  margin: auto !important;
  max-width: 1170px;
}

/* line 64, ../../sass/sass/phonebook.scss */
textarea {
  width: 300px !important;
}

/* line 65, ../../sass/sass/phonebook.scss */
.inner-body {
  min-height: 500px;
  padding-bottom: 20px;
}

/* line 75, ../../sass/sass/phonebook.scss */
a {
  text-decoration: none  !important;
  color: #008798;
}

/* line 76, ../../sass/sass/phonebook.scss */
a:hover {
  text-decoration: none !important;
}

/* line 77, ../../sass/sass/phonebook.scss */
ul {
  list-style: none;
}

/* line 78, ../../sass/sass/phonebook.scss */
.orange {
  color: #FB9A1C;
}

/* line 79, ../../sass/sass/phonebook.scss */
h5 {
  margin: 10px 0 0 10px !important;
}

/* line 80, ../../sass/sass/phonebook.scss */
.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
  background: white;
}

/* line 81, ../../sass/sass/phonebook.scss */
.no-margin-left {
  margin-left: 0 !important;
}

/* line 83, ../../sass/sass/phonebook.scss */
#topBar {
  margin-top: 0;
  margin-bottom: 0;
  background: #f3f3f3;
  color: #666;
  line-height: 34px;
  padding-bottom: 5px;
}
/* line 91, ../../sass/sass/phonebook.scss */
#topBar .language-switcher-locale-url {
  margin-top: 5px;
  margin-bottom: 10px;
}
/* line 95, ../../sass/sass/phonebook.scss */
#topBar .language-switcher-locale-url > li {
  margin-bottom: 5px;
  text-align: right;
  list-style: none;
  width: 25%;
  float: left;
}
/* line 102, ../../sass/sass/phonebook.scss */
#topBar .language-switcher-locale-url > li > a {
  font-size: 16px;
  color: #858585;
}
/* line 107, ../../sass/sass/phonebook.scss */
#topBar .language-switcher-locale-url > li.active > a {
  color: #FB9A1C;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 110, ../../sass/sass/phonebook.scss */
  #topBar > div.row-fluid > div:nth-of-type(1), #topBar > div.row-fluid > div:nth-of-type(2) {
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 110, ../../sass/sass/phonebook.scss */
  #topBar > div.row-fluid > div:nth-of-type(1), #topBar > div.row-fluid > div:nth-of-type(2) {
    display: none !important;
  }
}
/* line 115, ../../sass/sass/phonebook.scss */
#topBar .login_infos > ul {
  margin: 10px 0 10px;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 115, ../../sass/sass/phonebook.scss */
  #topBar .login_infos > ul {
    display: none !important;
  }
}
/* line 119, ../../sass/sass/phonebook.scss */
#topBar .login_infos > ul > li {
  list-style: none;
  width: 30%;
  float: left;
}
/* line 124, ../../sass/sass/phonebook.scss */
#topBar .login_infos > ul > li > a {
  font-size: 16px;
  color: #858585;
}

/* line 133, ../../sass/sass/phonebook.scss */
header {
  border-bottom: 5px solid #f3f3f3;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 136, ../../sass/sass/phonebook.scss */
  header > div.span7 {
    width: 100% !important;
  }
}

/* line 138, ../../sass/sass/phonebook.scss */
.locale_container > div {
  display: inline;
}

/* line 139, ../../sass/sass/phonebook.scss */
.logo-block {
  margin-top: 14px;
  padding-left: 28px;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 139, ../../sass/sass/phonebook.scss */
  .logo-block {
    display: none !important;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 139, ../../sass/sass/phonebook.scss */
  .logo-block {
    display: none !important;
  }
}
/* line 145, ../../sass/sass/phonebook.scss */
.logo-block h1 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 130%;
  font-weight: 300;
  line-height: 100%;
  padding-top: 2px;
}
/* line 152, ../../sass/sass/phonebook.scss */
.logo-block h1 a {
  color: black;
  text-decoration: none;
}

/* line 155, ../../sass/sass/phonebook.scss */
.display_title {
  height: 70px;
  padding: 15px 5px 5px 2%;
}
/* line 159, ../../sass/sass/phonebook.scss */
.display_title > h1 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  font-size: 200%;
  text-align: center;
  margin-top: 15px;
}

/* line 168, ../../sass/sass/phonebook.scss */
.pb_tab_menu {
  width: 100%;
  height: 25px;
  padding: 0 2%;
  display: inline-block;
}
/* line 174, ../../sass/sass/phonebook.scss */
.pb_tab_menu > ul {
  margin: 0 10px 10px 0;
  list-style: none;
  display: block;
}
/* line 179, ../../sass/sass/phonebook.scss */
.pb_tab_menu > ul > li {
  background: #f3f3f3;
  width: 20%;
  margin-right: 5%;
  margin-top: 0px;
  float: left;
  padding: 0;
  list-style: none;
  margin-bottom: 20px;
  text-align: center;
  font-size: 13px;
  -webkit-border-radius: 0px 0px 3px 3px;
  -moz-border-radius: 0px 0px 3px 3px;
  -ms-border-radius: 0px 0px 3px 3px;
  -o-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
}
/* line 192, ../../sass/sass/phonebook.scss */
.pb_tab_menu > ul > li.active {
  background: #1a616b;
}
/* line 193, ../../sass/sass/phonebook.scss */
.pb_tab_menu > ul > li.active > a {
  color: white;
}
/* line 194, ../../sass/sass/phonebook.scss */
.pb_tab_menu > ul > li > a {
  color: #5F5F5F;
  padding: 8px 0 8px 0;
  display: block;
  text-transform: uppercase;
  font-family: inherit;
}
/* line 201, ../../sass/sass/phonebook.scss */
.pb_tab_menu > ul > li > a:hover {
  color: #008798;
}

/* line 207, ../../sass/sass/phonebook.scss */
.person-search {
  position: relative;
  float: left;
  margin: 20px 10% 20px;
}

/* line 214, ../../sass/sass/phonebook.scss */
.dpt-list {
  margin: 20px 0 10% 10px;
}
/* line 217, ../../sass/sass/phonebook.scss */
.dpt-list > ul {
  list-style: none;
}
/* line 220, ../../sass/sass/phonebook.scss */
.dpt-list > ul > li {
  border: 1px solid #dadada;
  -webkit-border-radius: 15px 0 15px 0;
  -moz-border-radius: 15px 0 15px 0;
  -ms-border-radius: 15px 0 15px 0;
  -o-border-radius: 15px 0 15px 0;
  border-radius: 15px 0 15px 0;
  background-color: #f3f3f3;
  margin: 5px 0 5px;
}
/* line 226, ../../sass/sass/phonebook.scss */
.dpt-list > ul > li > div {
  margin-left: 5px;
  cursor: pointer;
}
/* line 230, ../../sass/sass/phonebook.scss */
.dpt-list > ul > li > div > a {
  color: black;
}
/* line 231, ../../sass/sass/phonebook.scss */
.dpt-list > ul > li > div:hover > a {
  color: #FB9A1C;
}
/* line 234, ../../sass/sass/phonebook.scss */
.dpt-list ul.sections {
  margin: 0 0 5px 10px;
  display: none;
}
/* line 238, ../../sass/sass/phonebook.scss */
.dpt-list ul.sections > li {
  background: -webkit-linear-gradient(left bottom, white 90%, #5F5F5F 100%)  ;
  /* For Safari */
  background: -o-linear-gradient(left bottom, white 90%, #5F5F5F 100%)  ;
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(left bottom, white 90%, #5F5F5F 100%)  ;
  /* For Firefox 3.6 to 15 */
  background: -ms-linear-gradient(left bottom, white 90%, #5F5F5F 100%)  ;
  background: linear-gradient(to left bottom, #ffffff 90%, #5f5f5f 100%)  ;
  /* For Firefox 3.6 to 15 */
  border-bottom: 1px dotted #5F5F5F;
  cursor: pointer;
}
/* line 243, ../../sass/sass/phonebook.scss */
.dpt-list ul.sections > li:hover > a {
  color: black;
}
/* line 244, ../../sass/sass/phonebook.scss */
.dpt-list ul.sections > li > a {
  color: #008798;
}

/* line 248, ../../sass/sass/phonebook.scss */
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised {
  font-size: 10pt;
  border: 1px solid #888;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  border-radius: 15px;
  -moz-box-shadow: 5px 10px 5px #929292;
  -webkit-box-shadow: 5px 10px 5px #929292;
  box-shadow: 5px 10px 5px #929292;
  background-color: #f3f3f3;
  margin-bottom: 12px;
  width: 90%;
}

/* line 258, ../../sass/sass/phonebook.scss */
#pb_results {
  padding-left: 4%;
  width: 100%;
  overflow: hidden;
}
/* line 263, ../../sass/sass/phonebook.scss */
#pb_results .not_displayed {
  display: none;
  height: 0px;
}
/* line 264, ../../sass/sass/phonebook.scss */
#pb_results h4 {
  margin: 2px 0px 2px 8px;
  font-size: 14pt;
  color: #008798;
  display: inline;
}
/* line 271, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded {
  margin-top: 0px !important;
}
/* line 274, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .pb_photo {
  margin: 7px;
  width: 150px;
}
/* line 275, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .pb_photo > img {
  width: auto;
  height: auto;
  min-height: 120px;
  min-width: 100px;
  max-width: 150px;
  max-height: 150px;
}
/* line 285, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .person_with_photo {
  margin: 2px 5px 5px 8px !important;
}
/* line 286, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .person_no_photo {
  margin: 2px 5px 5px 3em !important;
}
/* line 287, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .situation {
  display: inline;
}
/* line 288, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .fixedmail {
  padding-left: 2px;
}
/* line 289, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .description {
  font-style: italic;
  clear: both;
  padding-left: 5px;
  padding-right: 5px;
}
/* line 290, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .media {
  display: inline-block;
}
/* line 291, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .moreinfo {
  margin-left: 20px;
  cursor: pointer;
  clear: both;
  display: block;
}
/* line 292, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded div.more {
  display: none;
}
/* line 293, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded > div > span {
  cursor: pointer;
}
/* line 294, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded ul.expanded {
  display: inline-block;
  vertical-align: top;
  list-style-type: none;
  border-bottom: groove thin #f3f3f3;
  margin-left: 1em;
  margin-right: 1em;
}
/* line 302, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded ul.expanded > li {
  padding-left: 5px;
  border-left: 4px outset #f3f3f3;
}
/* line 309, ../../sass/sass/phonebook.scss */
#pb_results > div > .minimised {
  cursor: pointer;
}
/* line 311, ../../sass/sass/phonebook.scss */
#pb_results > div > .minimised .inner-expanded {
  display: none;
}
/* line 314, ../../sass/sass/phonebook.scss */
#pb_results > div > .minimised > div {
  margin: 2px 2px 2px 5px;
  display: inline-block;
}
/* line 315, ../../sass/sass/phonebook.scss */
#pb_results > div > .minimised > div > i {
  margin-left: 1em;
}
/* line 316, ../../sass/sass/phonebook.scss */
#pb_results > div > .minimised:hover {
  background-color: white;
  -moz-box-shadow: 5px 10px 5px #7497A3;
  -webkit-box-shadow: 5px 10px 5px #7497A3;
  box-shadow: 5px 10px 5px #7497A3;
}
/* line 317, ../../sass/sass/phonebook.scss */
#pb_results > div > .minimised .compact {
  margin-left: 5px;
}

/* line 320, ../../sass/sass/phonebook.scss */
.alpha {
  margin-left: 4% !important;
  text-align: left;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* line 320, ../../sass/sass/phonebook.scss */
  .alpha {
    margin: 0px 0px 10px 4% !important;
    font-size: 18pt;
  }
}
@media (min-width: 0px) and (max-width: 767px) {
  /* line 320, ../../sass/sass/phonebook.scss */
  .alpha {
    margin: 0px 0px 10px 4% !important;
    font-size: 18pt;
  }
}
/* line 327, ../../sass/sass/phonebook.scss */
.alpha > a:hover {
  -moz-box-shadow: 0px 0px 20px #929292;
  -webkit-box-shadow: 0px 0px 20px #929292;
  box-shadow: 0px 0px 20px #929292;
  background-color: #5F5F5F;
  text-decoration: none;
}

/* line 333, ../../sass/sass/phonebook.scss */
.pb_email {
  background: url(/images/email.png) no-repeat 103px 3px;
  height: 32px;
  position: fixed;
  padding-left: 135px;
}

/* line 340, ../../sass/sass/phonebook.scss */
.pb-info {
  margin-top: 15px;
}

/* line 341, ../../sass/sass/phonebook.scss */
.pb_profile {
  margin: 0px 1% 0 1%;
}

/* line 348, ../../sass/sass/phonebook.scss */
#usefull caption {
  color: #FB9A1C;
  font-size: 200%;
}

/* line 351, ../../sass/sass/phonebook.scss */
.frames {
  clear: both !important;
  position: absolute !important;
  float: left;
}

/* line 356, ../../sass/sass/phonebook.scss */
.removephoto_text {
  height: 2em;
  padding-right: 1em;
  min-width: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
}

/* line 367, ../../sass/sass/phonebook.scss */
.h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}

/* line 371, ../../sass/sass/phonebook.scss */
#pb_results h4 {
  font-size: 15px;
  text-transform: uppercase;
  margin-right: 6px;
}

/* line 377, ../../sass/sass/phonebook.scss */
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised, #pb_results > div > .expanded, #pb_results > div > .minimised {
  background-color: #f3f3f3;
  border-radius: 4px;
  box-shadow: 2px 2px 5px #b4b3b3;
  font-size: 10pt;
  margin-bottom: 12px;
  width: 90%;
  border: 0 solid #888888;
}

/* line 386, ../../sass/sass/phonebook.scss */
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised, #pb_results > div > .expanded, #pb_results > div > .minimised:hover {
  box-shadow: 2px 2px 5px #929292;
}

/* line 393, ../../sass/sass/phonebook.scss */
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised, #pb_results > div > .expanded, #pb_results > div > .minimised a {
  color: #008798;
}

/* line 398, ../../sass/sass/phonebook.scss */
.card_appearence, #pb_results > div > .expanded, #pb_results > div > .minimised, #pb_results > div > .expanded, #pb_results > div > .expanded a {
  color: black;
}

/* line 404, ../../sass/sass/phonebook.scss */
img {
  margin: 4px;
}

/* line 408, ../../sass/sass/phonebook.scss */
.display_title > h1 {
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif !important;
  font-size: 148%;
  font-weight: 300;
  margin-top: 15px;
  text-align: center;
  background-color: #f3f3f3;
  border-radius: 4px;
}

/* line 418, ../../sass/sass/phonebook.scss */
#pb_results > div > .expanded .fixedmail a {
  color: #008798;
}

/* line 422, ../../sass/sass/phonebook.scss */
div[Title=Téléphone] a {
  color: #008798 !important;
}

/* line 426, ../../sass/sass/phonebook.scss */
.pagination-small ul > li > a, .pagination-small ul > li > span {
  color: red;
}
