<div class="well">
  <form id="inline_form" class="form-inline" data-id="{{form.vars.value.id}}">
    {{ form_errors(form) }}

    {% if catalogue == 'City' %}

      <div class="row">
        {{ form_row(form.code, { rowclass: 'span3' }) }}
      </div>
      <div class="row">
        {{ form_row(form.name, { rowclass: 'span6' }) }}
        {{ form_row(form.Country,  { rowclass: 'span6' }) }}
      </div>

    {% elseif catalogue == 'MedCenter' %}

      <div class="row">
        {{ form_row(form.name) }}
        {{ form_row(form.address) }}
        {{ form_row(form.City) }}
      </div>
      <div class="row">
        {{ form_row(form.phone) }}
        {{ form_row(form.fax) }}
      </div>

    {% elseif catalogue == 'Department' %}

      <div class="row">
          {{ form_row(form.code, { rowclass: 'span6' }) }}
      </div>

      <div class="row">
          {{ form_row(form.name_fr, { rowclass: 'span6' }) }}
          {{ form_row(form.name_nl, { rowclass: 'span6' }) }}
      </div>
      <div class="row">
          {{ form_row(form.name_en, { rowclass: 'span6' }) }}
          {{ form_row(form.level, { rowclass: 'span6' }) }}
      </div>
      <div class="row">
          {{ form_row(form.is_active, { rowclass: 'span6' }) }}
          {{ form_row(form.Parent, { rowclass: 'span6' }) }}
      </div>

    {%else%}{#Other catalogues #}
    {% if form.ehr_code is defined %}
      <div class="row">
        {{ form_row(form.is_active, { rowclass: 'span2' }) }}
      </div>
      <div class="row">
        {{ form_row(form.code, { rowclass: 'span6' }) }}
        {{ form_row(form.ehr_code, { rowclass: 'span6' }) }}
      </div>
    {% elseif form.code is defined %}    
      <div class="row">
        {{ form_row(form.is_active, { rowclass: 'span2' }) }}
        {{ form_row(form.code, { rowclass: 'span5' }) }}
      </div>
    {% else %}    
      <div class="row">
        {{ form_row(form.is_active, { rowclass: 'span2' }) }}        
      </div>    
    {%endif%}
    {% if form.level is defined %}
      <div class="row">
        {{ form_row(form.level, { rowclass: 'span2', 'attr': {'class':'input-small'} }) }}
      </div>
    {% endif %}
      <div class="row">
        {{ form_row(form.name_fr, { rowclass: 'span6', 'attr': {'class':'input-xxlarge'} }) }}
      </div>
      <div class="row">
        {{ form_row(form.name_nl, { rowclass: 'span6', 'attr': {'class':'input-xxlarge'} }) }}
      </div>
    {%endif%}

    {{ form_rest(form) }}

    <div class="row">
      <button type="reset" class="form_cancel btn">{% trans %}perso.form.cancel{% endtrans%}</button>
      <input type="submit" class="btn btn-primary btn-large" value="{% trans %}perso.form.submit{% endtrans%}"  />
    </div>

  </form>
</div>
