{% extends 'RbinsPersoBundle::layout.html.twig' %}

{% block sidebar%}
  
{% endblock%}

{% block content %}
{% set title %}perso.catalogue.{{catalogue}}.title{%endset%}
{% set desc %}perso.catalogue.{{catalogue}}.description{%endset%}

<h1>{{ title|trans }}</h1>
<p>{{ desc|trans }}</p>


{% if catalogue == 'City' %}
<ul class="filter_letter">
{% for letter in 'a'|upper..'z'|upper %}
  <li>{{letter}}</li>
{% endfor %}
</ul>
{% endif %}

<div class="filter_search">
  <p class="input-append">
    <input type="text" autocomplete="off" placeholder="{% trans %}perso.catalogue.filter{% endtrans %}"
      class="input-xlarge" id="search_input"><span class="add-on"><i class="icon-filter"></i></span>
  </p>
</div>


<ul class="catalogue_list">
{% if catalogue != 'City' %}
  {% include 'RbinsPersoBundle:Catalogue:items_list.html.twig' with {'items': items,'catalogue': catalogue} %}
{%else%}
  <li><div class="alert alert-info">{% trans %}perso.catalogue.City.choose_letter{% endtrans %}</div></li>
{% endif %}
</ul>

{% if is_granted('ROLE_HR_ADMIN') %}
  <button class="btn btn-success add">{% trans %}perso.form.add{% endtrans %}
    <i class="icon-plus-sign icon-white"></i>
  </button>
{% endif %}

<script type="text/javascript">
var catalogue = '{{catalogue}}';
delete_success_msg = '{% trans %}perso.catalogue.delete.success{% endtrans %}';
delete_error_msg = '{% trans %}perso.catalogue.delete.error{% endtrans %}';
save_success_msg = '{% trans %}perso.catalogue.save.success{% endtrans %}';


$(document).ready(function(){
    $('.catalogue_list > li .edit ').click(initInEdit);
    $('.catalogue_list > li .delete ').click(inDelete);
    $('.catalogue_list > li .toggle_active ').click(inToggleActive);
    $('.add ').click(inAdd);
    $('#search_input').bind('keyup', fitler_catalogue);
    $('.filter_letter li').click(loadLetter);
});
</script>
{% endblock %}