{% if catalogue == 'City' %}
  <li data-id="{{item.id}}" data-filter="{{item.filter|e}}">
    <div class="row">
      <span class="catalogue_code span2" title="{%trans%}perso.catalogue.label.code{%endtrans%}">{{item.code}}</span>
      <span class="span4" title="{%trans%}perso.catalogue.label.name{%endtrans%}">{{item.name}}</span>
      <span class="span4" title="{%trans%}perso.catalogue.label.country{%endtrans%}">{{item.Country}}</span>
      <div class="actions span1">
        {% if is_granted('ROLE_HR_ADMIN') %}
          <i class="icon-pencil edit" title="{{ 'perso.form.edit' |trans|e }}"></i>
          <i class="icon-remove-circle delete" data-msg="{{ 'perso.form.delete' |trans|e }}"></i>
        {% endif %}
      </div>
    </div>
  </li>
{% elseif catalogue == 'Department' %}
  <li data-id="{{item.id}}" data-filter="{{item.filter|e}}" class="{% if not item.isActive %}catalogue_inactive{% endif %}" >
    <div class="row">
      {% set lvl %}perso.entity.department.level.{{item.level}}{%endset%}
      <span class="span2 {% if item.level == 'section' %}dpt_space{% endif %}">{{lvl| trans }}</span>
      <span class="span1" title="{%trans%}perso.catalogue.label.code{%endtrans%}">{{ item.code }}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.name_fr{%endtrans%}">{{item.nameFr}}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.name_nl{%endtrans%}">{{item.nameNl}}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.name_en{%endtrans%}">{{item.nameEn}}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.parent{%endtrans%}">{{item.Parent}}</span>
      <div class="actions span1">
        {% if is_granted('ROLE_HR_ADMIN') %}
          <i class="icon-pencil edit" title="{{ 'perso.form.edit' |trans|e }}"></i>
          <i class="icon-ban-circle toggle_active" title="{{ 'perso.form.toggle' |trans|e }}"></i>
          <i class="icon-remove-circle delete" title="{{ 'perso.form.delete' |trans|e }}" data-msg="{{ 'perso.form.delete_msg' |trans|e }}"></i>
        {% endif %}
      </div>
    </div>
  </li>
{% elseif catalogue == 'MedCenter' %}
  <li data-id="{{item.id}}" data-filter="{{item.filter|e}}">
    <div class="row">
      <span class="span2" title="{%trans%}perso.catalogue.label.name{%endtrans%}">{{item.name}}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.adress{%endtrans%}">{{item.address}}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.city{%endtrans%}">{{item.City.name}}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.phone{%endtrans%}">{{item.phone}}</span>
      <span class="span2" title="{%trans%}perso.catalogue.label.fax{%endtrans%}">{{item.fax}}</span>
      <div class="actions span1">
        {% if is_granted('ROLE_HR_ADMIN') %}
          <i class="icon-pencil edit" title="{{ 'perso.form.edit' |trans|e }}"></i>
          <i class="icon-remove-circle delete" title="{{ 'perso.form.delete' |trans|e }}" data-msg="{{ 'perso.form.delete_msg' |trans|e }}"></i>
        {% endif %}
      </div>
    </div>
  </li>

{%else%}
  <li data-id="{{item.id}}" class="{% if not item.isActive %}catalogue_inactive{% endif %}" 
      data-filter="{{item.filter|e}}">
    <div class="row">
      {% if item.level is defined %}
        <span class="span1" title="{%trans%}perso.catalogue.label.level{%endtrans%}">{{item.level?item.level: '-' }}</span>
      {% endif %}
      {% if item.ehrCode is defined %}
        <span class="span1" title="{%trans%}perso.catalogue.label.ehr_code{%endtrans%}">{{item.ehrCode ? item.ehrCode: '-'}}</span>
      {% endif %}
      {% if item.code is defined %}
	<span class="catalogue_code span1" title="{%trans%}perso.catalogue.label.code{%endtrans%}">{{item.code}}</span>
      {% endif %}
      <span class="span4" title="{%trans%}perso.catalogue.label.name_fr{%endtrans%}">{{item.nameFr}}</span>
      <span class="span4" title="{%trans%}perso.catalogue.label.name_nl{%endtrans%}">{{item.nameNl}}</span>
      <div class="actions span1">
        {% if is_granted('ROLE_HR_ADMIN') %}
          <i class="icon-pencil edit" title="{{ 'perso.form.edit' |trans|e }}"></i>
          <i class="icon-ban-circle toggle_active" title="{{ 'perso.form.toggle' |trans|e }}"></i>
          <i class="icon-remove-circle delete" title="{{ 'perso.form.delete' |trans|e }}" data-msg="{{ 'perso.form.delete_msg' |trans|e }}"></i>
        {% endif%}
      </div>
    </div>
  </li>
{%endif%}
