@import "compass"; 
@import "breakpoint";
@import url(http://fonts.googleapis.com/css?family=Lato);
$blue: #008798 ; // blue
$bg_menu_color: #f3f3f3 ; // light gray
$menu_color: #5F5F5F ; //gray
$title_text_color: #FB9A1C ;//orange
$shadow: #888 ; // dark_grey

@mixin rounded($rounding) {
  -webkit-border-radius: $rounding;
  -moz-border-radius: $rounding;
  -ms-border-radius: $rounding;
  -o-border-radius: $rounding;
  border-radius: $rounding;
}

@mixin boxshadow($data)
{
  -moz-box-shadow: $data;
  -webkit-box-shadow: $data;
  box-shadow: $data;
}

@mixin bg-linear-gradient($start, $color-start, $color-end, $repeat:"", $position:"")
{
  background: -webkit-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; /* For Safari */
  background: -o-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; /* For Firefox 3.6 to 15 */
  background: -ms-linear-gradient($start, $color-start, $color-end) #{$repeat} #{$position}; 
  background: linear-gradient(to $start, $color-start, $color-end) #{$repeat} #{$position}; /* For Firefox 3.6 to 15 */
}


@mixin cadre($color, $border, $rounding: 0px)
{
  border : 1px $border $color ;
  @include rounded($rounding) ;
}

body {   
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
  // overflow: auto ;
  margin: auto !important ;
  padding: 0 !important;
  max-width: 1170px;
  overflow-y: scroll;
  @include bg-linear-gradient(bottom, #5b4635 0%, #978f84 100%, no-repeat, fixed);
}
textarea { width: 300px !important;}
.inner-body
{
  min-height: 500px;
}

a { text-decoration: none  !important; color: $blue ; }
a:hover { text-decoration: none !important ; }
ul {list-style: none ;}
.container-fluid { padding-left:0px !important; padding-right: 0px !important; background: white ; }
.no-margin-left{ margin-left: 0 !important; }

#topBar
{
  margin-top: 0;
  margin-bottom: 0;
  background: $bg_menu_color ;
  color: #666;
  line-height: 34px;
  padding-bottom: 5px;
  .language-switcher-locale-url
  {
    margin-top: 5px;
    margin-bottom: 10px;
    & > li 
    {
      margin-bottom: 5px;
      text-align: right;
      list-style: none;
      width: 25% ;
      float: left ;
      & > a
      {
        font-size: 16px;
        color: #858585 ;
      }
      &.active > a { color: $blue ; }
    }
  }
  .login_infos > ul
  {
    margin: 10px 0 10px;
    & > li 
    {
      list-style: none;
      width: 30% ;
      float: left ;
      & > a
      {
        font-size: 16px;
        color: #858585 ;
      }
    }
  }
}

header
{
  border-bottom: 5px solid $bg_menu_color ;
}

.logo-block 
{
  margin-top: 14px;
  padding-left: 28px ;
  h1
  {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 130%;
    font-weight: 300 ;
    line-height: 100%;
    padding-top: 2px;
    a { color: black; text-decoration: none ; }
  } 
}
.display_title
{
  height: 70px;
  padding: 15px 5px 5px 2% ;  
  & > h1
  {
    font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
    font-size: 200%;
    text-align: center;
    margin-top: 15px;
  }
}
.pb_tab_menu
{
  width: 100% ;
  height: 25px ;
  padding: 0 2%;
  display: inline-block;
  & > ul 
  {
    margin: 0 10px 10px 0 ;
    list-style: none ;
    display: block;
    & > li 
    {
      background: $bg_menu_color;//#E5E5E5 ;
      width: 20%;
      margin-right: 5%;
      margin-top: 0px;
      float: left;
      padding: 0;
      list-style: none;
      margin-bottom: 20px;
      text-align: center;  
      @include rounded(0px 0px 3px 3px);  
      & > a
      {
        color : $menu_color;
        padding: 8px 0 8px 0 ;
        display : block;
        text-transform: uppercase;
        font-family: inherit;
        &:hover {color: $blue;}
      }
    }
  }  
}

.person-search
{
  position: relative;
  float: left ;  
  margin: 20px 10% 20px ;
}

.dpt-list
{
  margin: 20px 0 10% 10px ;
  & > ul 
  {    
    list-style: none ;
    & > li 
    {
      @include cadre(darken($bg_menu_color,10%), solid, 15px 0 15px 0) ;
      background-color: $bg_menu_color ;      
      margin: 5px 0 5px ;
    }
    & > li > div
    {
      margin-left: 5px;
      cursor: pointer;
      & > a { color: black ; }   
      &:hover > a { color: $title_text_color }
    }
  } 
  ul.sections
  {
    margin: 0 0 5px 10px;
    display: none ;
    & > li 
    {
      @include bg-linear-gradient(left bottom, white 90%, $menu_color 100%);
      cursor: pointer;
      &:hover { @include bg-linear-gradient(left bottom, white 80%, $menu_color 100%); }
      &:hover > a { color: black ;}
      & > a { color: $blue; }
    }
  }
}
.card_appearence
{
  font-size: 10pt ;
  @include cadre($shadow,solid, 15px) ; 
  @include boxshadow(5px 10px 5px lighten($menu_color,20%));
  background-color: $bg_menu_color ;
  margin-bottom: 12px ;    
  width: 90% ;
}

#pb_results
{
  padding-left: 4% ;
  width: 100% ;
  overflow: hidden ;
  h4 
  {
    margin: 2px 0px 2px 8px ;
    font-size: 14pt ;
    color: $blue ;
  }
  & > .expanded
  {
    .pb_photo { margin: 7px; }
    .pb_photo > img
    {
      width: auto ;
      height: auto ;
      min-height: 80px;
      min-width: 80px;
      max-width: 150px ;
      max-height: 150px ;
    }
    .description {  font-style: italic;}
    .media {display: inline-block; clear: both;}
    & > div
    {
      @extend .card_appearence ;
      min-height: 120px;
    }
    ul.expanded
    { 
      display: inline-block;
      vertical-align: top ;
      list-style-type: none; 
      border-bottom: groove thin $bg_menu_color;
      margin-left: 1em ;
      margin-right: 1em ;      
      & > li
      {
        padding-left: 5px;
        border-left: 4px outset $bg_menu_color ;
      }
    }
  }
  & > .minimised
  {
    cursor: pointer;
    @extend .card_appearence ;
    & > div { margin-top: 2px ; margin-bottom: 2px; display: inline-block; }
    &:hover {background-color: lighten($bg_menu_color,20%) ; @include boxshadow(5px 10px 5px #7497A3); }      
    .compact { margin-left: 5px ; }
  }
}
.alpha
{
  //font-size: 15pt;
  margin-left: 4% !important ;
  text-align: left ;
  & > a:hover { 
    @include boxshadow(0px 0px 20px lighten($menu_color,20%));
    background-color: $menu_color ;
    text-decoration: none ;
  }
}

.phonebook-image
{
  width: auto ;
  height: auto ;
  min-height: 80px;
  min-width: 80px;
  max-width: 200px ;
  max-height: 200px ;
}
.pb_email
{
  background: url(/images/email.png) no-repeat 103px 3px;
  height: 32px;
  position: fixed;
  padding-left:135px;
}
.pb-info { margin-top: 15px ;}
.pb_profile
{
  margin: 0px 1% 0 1% ;
}

#usefull
{
  caption { color: $title_text_color ; font-size: 200% }
}

.ui-autocomplete {
/*  height: 200px;*/
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
  left: 0px !important;
}