{% extends 'RbinsPhoneBookBundle::layout.html.twig' %}
{% block pb_title %}{% trans %} perso.phonebook.title.department {% endtrans %} {% endblock %}
{% block activetab %}dept{%endblock%}
{% block intranet %}{{intranet}}{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span3">
    {% include 'RbinsPhoneBookBundle:Chart:sidebar.html.twig' with {'departments' : departments} %}
  </div>
  <div class="span9">
    <div class="alpha pagination pagination-small"></div>
    <div id="pb_results"></div>
  </div>
</div>
{% endblock %}

