<div class="dpt-list">
  <ul>
  {% for dept in departments  %}
      <li class="department">
        <div>
        <a href="{{ path('chart_dpt', {'dept': dept.id})}}"  class="dpt_list" id="{{dept.id}}">{{ attribute(dept,'name' ~ app.request.locale) }}</a>
        </div>
        <ul class="sections">
          {% for sect in dept.Children  %}
            <li class="section">
              <a href="{{ path('chart_dpt', {'dept': sect.id})}}"  class="dpt_list" id="{{sect.id}}">{{ attribute(sect,'name' ~ app.request.locale) }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
  {% endfor %}
  </ul>
</div>

<script type="text/javascript">
var xhr;
 $(document).ready(function(){
  $('li.department > div').on('click',function(e){
    e.preventDefault();
    $(this).closest('li').find('ul.sections').slideToggle('fast') ;    
    if(xhr) xhr.abort();
    xhr = $.ajax({
      url: "{{ path('chart_dpt') }}",
      data: { dept: $(this).find('a.dpt_list').attr('id')},
      success: function(data){
        $('#pb_results').html(data);
        $('#pb_results').removeClass('loading');
      }
    });
  });  
  $('li.section').on('click',function(e){
    e.preventDefault();
    if(xhr) xhr.abort();
    xhr = $.ajax({
      url: "{{ path('chart_dpt') }}",
      data: { dept: $(this).find('a.dpt_list').attr('id')},
      success: function(data){
        $('#pb_results').html(data);
        $('#pb_results').removeClass('loading');
      }
    });
  });  
});
</script>
