{% extends '::base.html.twig' %}

{% block body %}
  {% stylesheets '@RbinsPersoBundle/Resources/public/css/login.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}
 
  <div class="well login_form">
      <h1>
        {% if hr_referer %}
          {% trans %}perso.login.title{% endtrans %}
        {% else %}
          {% trans %}perso.login.pb_title{% endtrans %} 
        {% endif %}
      </h1>

      <form action="{{ path('login_check') }}" method="post" class="form-horizontal">
        {% if error %}
          <div class="alert alert-error">
            {% trans %}perso.login.error_msg{% endtrans %}
          </div>
        {% endif %}

        <div class="control-group">
          <label class="control-label" for="username">{% trans %}perso.login.usr_label{% endtrans %}</label>
           <div class="controls">
            <input type="text" id="username" name="_username" value="{{ last_username }}" />
          </div>
        </div>

        <div class="control-group">
          <label class="control-label" for="password">{% trans %}perso.login.pwd_label{% endtrans %}</label>
           <div class="controls">
            <input type="password" id="password" name="_password" />
          </div>
        </div>

        <input type="hidden" name="_target_path" value="/" />
        <input type="hidden" name="_csrf_token" value="{{ token }}" />
        <div class="control-group">
          <div class="controls">
            <input type='submit' value='{% trans %}perso.login.submit_label{% endtrans %}' id='submit_up' name='submit_up' class="btn btn-primary"/>
          </div>
        </div>
    </form>
  </div>

{% endblock %}
