body {
  padding-top: 60px;
  position:relative;
}
@media (min-width: 768px) and (max-width: 979px) {
  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }
}
textarea {resize:none;}
body .dl-horizontal dt {
  width: 250px;
}
body .dl-horizontal dd {
  margin-left: 270px;
}
.value_disabled {
  background-color: #F2DEDE !important;
  border-color: #B94A48;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #B94A48;
}
.nav_right {
  float:right;
}
.nav_left{
  margin-left: 20px;
}
.sidebar {
  max-width:300px;
  min-height:200px;
}
.lang li {
  display: inline;
}
.autocomplete_widget .ui-autocomplete-input {
  margin-bottom:0px;
}

#person_results {
  margin-top: 1em;
  max-height: 1000px;
  overflow: auto;
}

.inactive {
  text-decoration:line-through;
  color: #A3A3A3 ;

}
#person_results.loading {
  background-color: #F9F9F9;
  color:#C9C9C9;
}

.remove_link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.controls div.with_error {
  margin-left: 0;
}

.catalogue_list >  li > .row {
  margin: 0;
}
.input-micro {
  width: 40px;
}
.catalogue_list >  li {
  list-style: none;
  border-bottom: 1px dashed #CCCCCC;
/*   padding-top: 0.5em; */
/*   padding-bottom: 0.5em; */
}
.errors_list {
  margin:0;
  list-style:none;
  
}
.catalogue_list >  li:last-child{
  border-bottom: none;
}

.catalogue_list .actions {
  display: none; 
}
.catalogue_list > li:hover .actions {
  display: inline;
}

#inline_form > div  > div {
  display: inline;
  margin-left: 1em;
}

#inline_form label {
  margin-right: 1em;
}
#inline_form .row {
  margin: 0.5em;
}
.catalogue_inactive {
  color:gray;
}
.filter_search {
  margin-left: 2em;
  margin-top: 1em;
  margin-bottom: 2em;
}
/*** UI *****/
.ui-combobox {
  position: relative;
  display: inline-block;
}
.ui-combobox-toggle {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-left: -1px;
  padding: 0;
  /* adjust styles for IE 6/7 */
  *height: 1.7em;
  *top: 0.1em;
}
.ui-combobox-input {
  margin: 0;
  padding: 0.3em;
}
body .ui-state-default {
  background: none;
  background-color:white;
}
.ui-menu-item .ui-state-focus {
  background:none;
  background-color: #0088CC;
  color:white;
}
/*** ENDUI *****/


.dpt_space {
  padding-left: 2em;
}

.toHide {
  display:none;
}

.filter_letter li {
  list-style: none;
  display:inline-block;
  width: 1.5em;
  height: 1.5em;
/*   border: 1px solid gray; */
  margin-left: 0.5em;
  cursor: pointer;
  font-weight:bold;
}


.working_duties, .working_hists, .info_inline, .address_inline {
/*   width: 10000px; */
  overflow-x: auto;
  white-space: nowrap;
  display:block;
}

.duty_cal > li, .family > li, .info_inline  > li, .address_inline  > li {
  list-style: none;
  border-bottom: 1px solid #ccc;
  margin-bottom: 1em !important;
  padding-bottom: 1em !important;
}

.duty_cal > li:nth-last-child(2),
.duty_cal > li:last-child,
.family > li:nth-last-child(2),
.family > li:last-child,
.info_inline  > li:nth-last-child(2),
.info_inline  > li:last-child ,
.address_inline  > li:nth-last-child(2),
.address_inline  > li:last-child
{
  border:none;
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}
.duty_cal .ui-combobox-input {
  width: 60px;
}
.working_hists > li, .working_duties > li
{
  display: inline-block;
  width: 360px;
  padding-left: 0.5em;
  border-right: 1px solid #DDD;
}
.working_hists > li:last-child,.working_duties > li:last-child {
  border-right: none;
}


.gender_widget input,  .gender_widget label
{
  display:inline;
  margin-left: 0.5em;
}
.add-on-like
{
  display: inline-block;
  width: auto;
  height: 20px;
  min-width: 16px;
  padding: 4px 5px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  text-shadow: 0 1px 0 #ffffff;
  background-color: #eeeeee;
  border: 1px solid #ccc;
}

div.btn-group > a.btn {
  height: 2em;
}

form .controls-row
{
  margin: 0.5em;
}
/* *** Add this for visible Scrolling  */
.ui-autocomplete {
/*  height: 200px;*/
  max-height: 300px;
  overflow-y: auto;
  /* prevent horizontal scrollbar */
  overflow-x: hidden;
  /* add padding to account for vertical scrollbar */
  padding-right: 20px;
}
body .ui-autocomplete-input {
  font-size: 15px; /* Fix size of select jquerify */
}
.add_lnk {
  vertical-align:top;
}

.perso_checkbox
{
  display: inline-block;
  width: 16px;
  height: 2em;
  padding-right:1em;
  padding-left:1em;  
  min-width: 16px;
  font-size: 14px;
  font-weight: normal;
  line-height: 20px;
  text-align: center;
  border: 1px solid #ccc;
}


.perso_checkbox > input[type="checkbox"]
{
  vertical-align:middle !important;
}

.duty_cal .perso_checkbox
{
  border: none;
}

.calendar_am_pm {
  text-align: right;
}

li.restricted div
{
  width: 350px;
  overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
  clear: left;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pager > div
{
  border-right: 1px dotted #ccc;
  border-left: 1px dotted #ccc;  
  text-align: center;
}

span.required {
  color: #BD362F;
}

.report_item li {
  float: left;
  list-style: none outside none;
  width: 300px;
  margin:1em;
}
.rpt_title { 
  font-size: large;
  font-weight: bold;
}
li.in_the_past {
  display: none;
}

table.table
{
  max-width: none ;
  font-size: 11px;
  table-layout: auto ;
}

table.table th
{
  background-color : #A0A0A0;
  vertical-align: middle;
  text-align: center;
}
.combined_job .remove_link {
  min-width: 250px;
}

.input_file_style 
{
  background-color: red ;
  opacity : 0;
  filter : alpha(opacity=0);
  position : absolute !important;
  right : 0;
  top : 0;
  width: 100% !important;
  z-index: 5;
  cursor: pointer;
}

.photospan
{
  width:110px !important;
}


.img-mini
{
  width: auto ;
  height: auto ;
  min-height: 80px;
  min-width: 80px;
  max-width: 110px ;
  max-height: 110px ;
}

.hobbies .popover-content
{
  font-size: 11pt !important;
  white-space: nowrap !important;
}