/* line 4, ../../sass/sass/phonebook.scss */
body {
  overflow: none;
}

/* line 8, ../../sass/sass/phonebook.scss */
.pb_result > div:nth-child(odd) {
  background-color: #f9f5eb;
}
/* line 9, ../../sass/sass/phonebook.scss */
.pb_result ul {
  display: inline-block;
  list-style-type: none;
}

/* line 18, ../../sass/sass/phonebook.scss */
.pb_photo > img {
  width: 100px;
  height: 100px;
  display: inline;
}
