{% macro list_person(persons, department_id) %}
  <ul>
  {% set last_id = -1 %}
  {% for hist in  persons %}
    {% if hist.Department and hist.Department.id == department_id and hist.Person.id != last_id %}
      {% set last_id = hist.Person.id %}
      <li>
        <a href="{{ path('person', {action: is_granted('ROLE_HR_EDIT') ? 'edit': 'view', id: hist.Person.id}) }}">{{ hist.Person }}</a>
      </li>
    {% endif %}
  {% endfor %}
  </ul>
{% endmacro %}


{% block content %}

{% trans_default_domain "messages" %}

<div class="page-header">
  <h1>{% trans %}perso.org_chart.title{% endtrans %}</h1>
</div>

<div class="row org_chart">
  <ul class="">
  {% for dept in departments  %}
      <li class="">
        <h2>{{ attribute(dept,'name' ~ app.request.locale) }}</h2>
        {{ _self.list_person(persons, dept.id) }}
      </li>
  {% endfor %}
  </ul>
</div>

<script type="text/javascript">
{% image output="images/logo.png"
            '@RbinsPersoBundle/Resources/public/images/minus-box.gif'
%}
minus_url = "{{ asset_url }}"
{% endimage %} 
{% image output="images/logo.png"
            '@RbinsPersoBundle/Resources/public/images/plus-box.gif'
%}
plus_url = "{{ asset_url }}"
{% endimage %} 
      $(function(){
          $('.org_chart li')
              .css('pointer','default')
              .css('list-style-image','none');
          $('.org_chart li:has(ul)')
              .click(function(event){
                  if (this == event.target || event.target.tagName == 'H3' || event.target.tagName == 'H2') {
                      $(this).css('list-style-image',
                          (!$(this).children().is(':hidden')) ? 'url('+plus_url+')' : 'url('+minus_url+')');
                      $(this).children('ul').toggle('slow');
                  }
                  event.stopPropagation();
              })
              .css({cursor:'pointer', 'list-style-image':'url('+plus_url+')'})
              .children('ul').hide();
          $('.org_chart li:not(:has(ul))').css({cursor:'default', 'list-style-image':'none'});
       
      });
      </script>
{% endblock %}