{% extends 'RbinsPhoneBookBundle::layout.html.twig' %}
{% block activetab %}person{% endblock %}
{% block intranet %}{{intranet}}{% endblock %}
{% block pb_title %}{% trans %} perso.phonebook.title.person {% endtrans %}{% endblock %}
{% block content %}
<div class="row-fluid">
  <div class="span3">
    {% include 'RbinsPhoneBookBundle::sidebar.html.twig' %}
  </div>
  <div class="span9">
  <div class="alpha pagination pagination-small">
      <ul>
      {% for letter in alpha %}
        <li><a href="#">{{ letter }}</a><li>
      {% endfor %}
    </ul>
    </div>
    <div id="pb_results"></div>
  </div>
</div>
{% endblock %}


