{% trans_default_domain "form" %}
<div class="controls"><h3>{%trans%}form.rbins.persobundle.personworkingtype.PhoneBook.fromirsnb{%endtrans%}</h3></div>
<div id="pb_results">
  <div>    
    <div class="minimised">
      <div><h4>{{person.name}}</h4></div>
      {% if person.functionfr is null %} -
      {% else %}
        {% if app.request.locale == 'nl' %}({{ person.functionnl }})
        {% elseif app.request.locale == 'fr' %}({{person.functionfr}}){%endif %}
      {% endif %}
      {% if person.phone %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}">{{person.phone}}
        </div>
      {% endif %}
      {% if person.fax %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}">{{person.fax}}
        </div>
      {% endif %}
      {% if person.gsm %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.gsm{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/smartphone-icone.png') }}"> {{person.gsm}}
        </div>
      {% endif %}
    </div>
    <div class="media expanded">
        <div class="pb_photo pull-left">
          <img class="media-object" src="{{ asset('/photos/' ~ photo) | imagine_filter('pb_photo') }}">
        </div>
        <div class="media-heading person_with_photo">
        <h4>{{person.name}}</h4>
          {% if person.functionfr is null %} -
          {% else %}
            {% if app.request.locale == 'nl' %}({{ person.functionnl }})
            {% elseif app.request.locale == 'fr' %}({{person.functionfr}}){%endif %}
          {% endif %}
        <div class="dept"><b>{% trans %}form.entity.department.level.section{% endtrans %} :</b>
          {% for dpt in person.department %}
            {% if loop.index0 > 0 %}
              /
            {% endif %}
            {{ dept[dpt].name }}
          {% endfor %}
        </div> 
        <div class="fixedmail" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.email{% endtrans %}'>
          <a href="mailto:{{ person.fixemail }}"><img src="{{asset('bundles/rbinsphonebook/images/email-icone.png') }}">{{ person.fixemail }}</a></div>
        {% if person.phone %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}"> {{person.phone}}
          </div>
        {% endif %}
        {% if person.fax %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}"> {{person.fax}}
          </div>
        {% endif %}
        {% if person.gsm %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.gsm{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/smartphone-icone.png') }}"> {{person.gsm}}
          </div>
        {% endif %}
          <div>
            {% if person.building %}<i class=" icon-home" title="{% trans %}form.rbins.persobundle.personworkingtype.buildingname{% endtrans %}"> </i> {{person.building}}
              {% if person.floor is not empty %}( {% trans %}form.rbins.persobundle.personworkingtype.building.floor{% endtrans %} : <b>{{person.floor}}</b>
                {% if person.room is not empty %}, {% trans %}form.rbins.persobundle.personworkingtype.building.room{% endtrans %} : <b>{{person.room}}</b>{% endif %}
                )
              {% endif %}
            {% endif %}
          </div>
        {% if (person.description != null) or (person.other|length > 0) or (person.hobbies) %}
        <div>
          <div class="description">{{person.description }}</div>
          {% if person.hobbies %}
            <br>
            <div class="description" title="{% trans %}form.rbins.persobundle.personworkingtype.hobbies{% endtrans %}"><i class="icon-heart"></i> {{person.hobbies}}</div>
          {% endif %}
          <div class="media">
          {% if person.other|length %}
            <ul class="expanded"><b>{% trans %}form.rbins.persobundle.personworkingtype.PhoneBook.entry.other{% endtrans %}</b>
          {% endif %}
          {% for dpt in person.other %}            
            {% if dpt.type == 'phone' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
            {% if dpt.type == 'fax' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}     
            {% if dpt.type == 'gsm' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.gsm{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/smartphone-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
            {% if dpt.type == 'email' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.email{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/email-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
          {% endfor %}
          {% if person.other|length %}
            </ul>
          {% endif %}
          </div>
        </div>        
        {% endif %} 
      </div>  
    </div>
  </div>
</div>
<div class="controls"><h3>{%trans%}form.rbins.persobundle.personworkingtype.PhoneBook.frominternet{%endtrans%}</h3></div>
<div id="pb_results">
  <div>    
    <div class="minimised">
      <div><h4>{{person.name}}</h4></div>
      {% if person.functionfr is null %} -
      {% else %}
        {% if app.request.locale == 'nl' %}({{ person.functionnl }})
        {% elseif app.request.locale == 'fr' %}({{person.functionfr}}){%endif %}
      {% endif %}
      {% if person.phone %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}">{{person.phone}}
        </div>
      {% endif %}
      {% if person.fax %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}">{{person.fax}}
        </div>
      {% endif %}
    </div>
    <div class="media expanded">
        <div class="media-heading person_no_photo">   
        <h4>{{person.name}}</h4>
          {% if person.functionfr is null %} -
          {% else %}
            {% if app.request.locale == 'nl' %}({{ person.functionnl }})
            {% elseif app.request.locale == 'fr' %}({{person.functionfr}}){%endif %}
          {% endif %}
        <div class="dept"><b>{% trans %}form.entity.department.level.section{% endtrans %} :</b>
          {% for dpt in person.department %}
            {% if loop.index0 > 0 %}
              /
            {% endif %}
            {{ dept[dpt].name }}
          {% endfor %}
        </div> 
        <div class="fixedmail" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.email{% endtrans %}'>
          <a href="mailto:{{ person.fixemail }}"><img src="{{asset('bundles/rbinsphonebook/images/email-icone.png') }}">{{ person.fixemail }}</a></div>
        {% if person.phone %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}"> {{person.phone}}
          </div>
        {% endif %}
        {% if person.fax %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}"> {{person.fax}}
          </div>
        {% endif %}
        {% if (person.other|length > 0) or (person.hobbies) %}
        <div>
          <div class="media">
          {% if person.other|length %}
            <ul class="expanded"><b>{% trans %}form.rbins.persobundle.personworkingtype.PhoneBook.entry.other{% endtrans %}</b>
          {% endif %}
          {% for dpt in person.other %}            
            {% if dpt.type == 'phone' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
            {% if dpt.type == 'fax' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}     
            {% if dpt.type == 'gsm' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.gsm{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/smartphone-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
            {% if dpt.type == 'email' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.email{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/email-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
          {% endfor %}
          {% if person.other|length %}
            </ul>
          {% endif %}
          </div>
        </div>        
        {% endif %} 
      </div>  
    </div>
  </div>
</div>