{% extends 'RbinsPhoneBookBundle::layout.html.twig' %}
{% block pb_title %}{% trans %} perso.phonebook.title.profile {% endtrans %} {% endblock %}
{% block activetab %}profile{%endblock%}
{% block intranet %}{{intranet}}{% endblock %}
  {% macro prototype(item, person_ref) %}
  {% for error in item %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}  
    <div class="controls controls-row">
      <div class="span3">{{ form_row(item.type,{ 'rowclass': 'span2', 'attr': {'class':'input-small'}, 'multiple': false }) }}</div>
      <div class="span4">{{ form_row(item.entry,{ 'rowclass': 'span3', 'attr': {'class':'input-medium'} }) }}</div>
      <div class="span4 remove_link"><a href="#" class="remove_el">
        <i class="icon-trash"></i> {{'perso.form.remove_collection'|trans() | e }}
        </a>
      </div>
    </div>
  {% endmacro %}  
{% block content %}
<div class="row-fluid">
{% include 'RbinsPersoBundle:Form:flash.html.twig' %}
{% if id is not null %}
<script type="text/javascript">
$(document).ready(function(){
  $('#rbins_persobundle_personworkingtype_hobbies').popover({ trigger: 'click' });
  $('#rbins_persobundle_personworkingtype_hobbies').on('change',function(){
    $(this).data('popover').hide();
  });
  $("#rbins_persobundle_personworkingtype_removephoto").attr('checked',false);
  $(".phonebook-img").attr("src", "{{ asset('/photos/' ~ photo) | imagine_filter('pb_photo') }}");
  var add_info = $('<button class="btn btn-success add_tag_link"><i class="icon-plus-sign icon-white"></i> {{'perso.form.add_collection'|trans() | e }}</a>');
  prot = "{{ _self.prototype(form.PhoneBook.vars.prototype, id)|e('js') }}";
  $('ul.info_inline').collection({add_lnk: add_info, prototype: prot});
});
</script>
  {{ form_start( form,
      {
          'method': 'post',
          'action': path('phonebook_profile'),
          'class': 'pb_profile'
      }
    )
  }}
  {% for error in form %}
     <div class="controls">{{ form_errors(error) }}</div>
  {% endfor %}   
  <div class="pb-info container-fluid">
    <div class="row-fluid">
      <div class="span12">
        <div class="row-fluid">          
          <div class="span3"><img class="img-polaroid phonebook-img" src="{{ asset('/photos/' ~ photo) | imagine_filter('pb_photo') }}">
            <div class="{% if (photo starts with 'anonymous') %}hidden{% else %}remove_photo {% endif %}">{{ form_widget(form.removephoto) }}
            <span class="removephoto_text">{%trans%}perso.phonebook.removephoto{%endtrans%}</span>
            </div>
          </div>
          <div class="span9">
            <div class="row-fluid">
              <div class="span8">{{ form_widget(form.file,{ 'attr': {'class':'input_file_style'} }) }}</div>
              <div class="span4"><a href="#preview" class="btn btn-primary">{%trans%}perso.form.preview{%endtrans%}</a></div>
            </div>
            <div class="row-fluid">
              <div class="span12"><div class="span8">{{ form_row(form.description, {'rowclass': 'span6', 'attr': {'rows' : 4 } }) }}</div>
            </div>
            <div class="row-fluid">
              <div class="span12 no-margin-left">
                <div class="row-fluid">
                  <div class="span5">{{ form_row(form.building, {'rowclass': 'span5' }) }}</div>
                  <div class="span3">{{ form_row(form.building_floor,{ 'attr': {'class': 'input-small' } }) }}</div>
                  <div class="span3">{{ form_row(form.building_room,{ 'attr': {'class': 'input-small' } }) }}</div>
                </div>
              </div>
            </div>
            <div class="row-fluid">
              <div class="span12 hobbies">{{ form_row(form.hobbies, { 'attr': {'class': 'input-xxlarge popoverfix',
                                                                       'rel': 'popover',
                                                                       'data-placement': 'right',
                                                                       'data-original-title': 'perso.phonebook.tips.title'|trans() | e,
                                                                       'data-content': 'perso.phonebook.tips.content'|trans() |e  } }) }}
              </div>
            </div>
          </div>        
        </div>
      </div>
    </div>
  </div>
  <div class="controls"><h3>{%trans%}perso.form.contact_mean{%endtrans%}</h3></div>  
  <ul class="info_inline">
    <li> 
        {%trans%}perso.phonebook.firstmail{%endtrans%} : <b>{{ person.fixemail }}</b>&nbsp;<i class="icon-info-sign" title="{%trans%}perso.phonebook.wrongmail{%endtrans%}"></i>
    </li>
    {% for info in form.PhoneBook %}  
      <li class="">
       {{ _self.prototype(info, id) }}
     </li>
    {% endfor %}
  </ul>
  {{form_widget(form.PhoneBook) }}
  <div class="hidden">{{ form_row(form.pb_visible) }} {{ form_row(form.email)}}</div>
  {{form_errors(form) }}
  {{form_rest(form) }}
  <div class="form-actions">
    <button type="submit" class="btn btn-primary">{%trans%}perso.form.submit{%endtrans%}</button>
  </div>
  <a name="preview"></a>
  <div class="row-fluid">
    <div class="span8"><h3>{%trans%}perso.form.preview{%endtrans%}</h3></div>
    <div class="span4"><h3><a href="#top" class="btn btn-primary"><i class="icon-arrow-up icon-white"></i></a></h3></div>
  </div>
  {% include 'RbinsPhoneBookBundle:Default:preview.html.twig' with {'person': person, 'photo': photo} %}
  

</form>
<div class="clearfix"></div>
</div>
{% else %}
<div class="row-fluid">
  <div class="row">
    <div class="span6 offset2 pb_info">
      <img src="{{asset('bundles/rbinsphonebook/images/bird.jpg') }}">
    </div>
  </div>
  <div class="row">
    <div class="span6 offset2">  
      {%trans%}perso.phonebook.profilenotfound{%endtrans%}
      <hr />
      
      {%trans%}perso.phonebook.helpdesksuggest{%endtrans%}
    </div>    
  </div>      
</div>
{% endif %}
{% javascripts '@RbinsPersoBundle/Resources/public/js/*.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}
{% endblock %}

