{% trans_default_domain "form" %}
{% for person in persons %}  
  <div>
    <div class="minimised {% if persons|length < 10 %}not_displayed{% endif %}">
      <div><i class="icon-chevron-down"></i><h4>{{person.name}}</h4></div>
      {% if person.functionfr is null %} -
      {% else %}
        {% if app.request.locale == 'nl' %}({{ person.functionnl }})
        {% elseif app.request.locale == 'fr' %}({{person.functionfr}}){%endif %}
      {% endif %}
      {% if person.phone %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}"><a href="tel:{{person.phone}}">{{person.phone}}</a>
        </div>
      {% endif %}
      {% if person.fax %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}">{{person.fax}}
        </div>
      {% endif %}
      {% if person.gsm and (intranet or is_granted('IS_AUTHENTICATED_FULLY')) %}
        <div class="compact" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.gsm{% endtrans %}'>
          <img src="{{asset('bundles/rbinsphonebook/images/smartphone-icone.png') }}"> {{person.gsm}}
        </div>
      {% endif %}
    </div>
    <div class="media expanded {% if persons|length > 9 %}not_displayed{% else %}{% endif %}">
      {% if intranet or is_granted('IS_AUTHENTICATED_FULLY') %}
        <div class="pb_photo pull-left">
          <img class="media-object" src="{{ asset('/photos/' ~ person.photo) | imagine_filter('pb_photo') }}">
        </div>
        <div class="media-heading person_with_photo">
      {% else %}
        <div class="media-heading person_no_photo">
      {% endif %}      
        <span><i class="icon-chevron-up"></i><h4>{{person.name}}</h4>
        {% if person.functionfr is null %} -
        {% else %}
            {% if app.request.locale == 'nl' %}({{ person.functionnl }})
            {% elseif app.request.locale == 'fr' %}({{person.functionfr}}){%endif %}
        {% endif %}
        </span>
        <div class="dept"><b>{% trans %}form.entity.department.level.section{% endtrans %} :</b>
          {% for dpt in person.department %}
            {% if loop.index0 > 0 %}
              /
            {% endif %}
            {{ dept[dpt].name }}
          {% endfor %}
        </div> 
        <div class="fixedmail" title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.email{% endtrans %}'>
          <a href="mailto:{{ person.fixemail }}"><img src="{{asset('bundles/rbinsphonebook/images/email-icone.png') }}">{{person.fixemail }}</a></div>
        {% if person.phone %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}"> <a href="tel:{{person.phone}}">{{person.phone}}</a>
          </div>
        {% endif %}
        {% if person.fax %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}"> {{person.fax}}
          </div>
        {% endif %}
        {% if person.gsm and (intranet or is_granted('IS_AUTHENTICATED_FULLY')) %}
          <div title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.gsm{% endtrans %}'>
            <img src="{{asset('bundles/rbinsphonebook/images/smartphone-icone.png') }}"> {{person.gsm}}
          </div>
        {% endif %}
        {% if intranet or is_granted('IS_AUTHENTICATED_FULLY') %}
          <div>
            {% if person.building %}<i class=" icon-home" title="{% trans %}form.rbins.persobundle.personworkingtype.buildingname{% endtrans %}"> </i> {{person.building}}
              {% if person.floor is not empty %}( {% trans %}form.rbins.persobundle.personworkingtype.building.floor{% endtrans %} : <b>{{person.floor}}</b>
                {% if person.room is not empty %}, {% trans %}form.rbins.persobundle.personworkingtype.building.room{% endtrans %} : <b>{{person.room}}</b>{% endif %}
                )
              {% endif %}
            {% endif %}
          </div>
        {% endif %}
        {% if (person.description != null) or (person.other|length > 0) or (person.hobbies) %}
        <div class="more">
          {% if intranet or is_granted('IS_AUTHENTICATED_FULLY') %}<div class="description">{{person.description }}</div>{% endif %}
          {% if person.hobbies and (intranet or is_granted('IS_AUTHENTICATED_FULLY')) %}
            <br>
            <div class="description" title="{% trans %}form.rbins.persobundle.personworkingtype.hobbies{% endtrans %}"><i class="icon-heart"></i> {{person.hobbies}}</div>
          {% endif %}
          <div class="media">
          {% if person.other|length %}
            <ul class="expanded"><b>{% trans %}form.rbins.persobundle.personworkingtype.PhoneBook.entry.other{% endtrans %}</b>
          {% endif %}
          {% for dpt in person.other %}            
            {% if dpt.type == 'phone' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.phone{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/telephone-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
            {% if dpt.type == 'fax' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.fax{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/fax-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}     
            {% if dpt.type == 'gsm' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.gsm{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/smartphone-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
            {% if dpt.type == 'email' %}
              <li title='{% trans %}form.rbins.persobundle.personworkingtype.PersonContact.entry.type.email{% endtrans %}'>
                <img src="{{asset('bundles/rbinsphonebook/images/email-icone.png') }}"> {{dpt.value}}
              </li>
            {% endif %}
          {% endfor %}
          {% if person.other|length %}
            </ul>
          {% endif %}
          </div>
        </div>        
        {% endif %} 
      </div>  
      {% if (person.description != null) or (person.other|length > 0) or (person.hobbies) %}
        <span class='moreinfo'><a>{% trans %}form.more_info{% endtrans %}</a></span>
      {% endif %}
    </div>
  </div>
{% endfor %}

<script type="text/javascript">
var xhr;
 $(document).ready(function(){
  var search_term = '';
  
  $('div.minimised').on('click',function(){
    $(this).addClass('not_displayed') ;
    $(this).next().removeClass('not_displayed') ;
  });
  $('div.expanded > div > span').on('click',function(){
    $(this).closest('div.expanded').addClass('not_displayed') ;
    $(this).closest('div.expanded').prev().removeClass('not_displayed') ;
  });
  $('.moreinfo > a').on('click',function(){
    var more_div = $(this).closest('div').find('div.more') ;    
    if(more_div.css('display') == 'block') $(this).text("{% trans %}form.more_info{% endtrans %}") ;
    else
      $(this).text("{% trans %}form.less_info{% endtrans %}") ;
    more_div.slideToggle('fast') ;
  });
});
</script>