{% extends 'RbinsPhoneBookBundle::layout.html.twig' %}
{% block pb_title %}{% trans %} perso.phonebook.title.usefull {% endtrans %} {% endblock %}
{% block activetab %}usefull{%endblock%}
{% block intranet %}{{intranet}}{% endblock %}
{% block content %}
<div class="row-fluid pb-info"> 
    <div class="span8 offset2">
      {% for data in infos %}
        <table class="table table-striped table-hover table-condensed" id="usefull">
          <caption>
            {% if app.request.locale == 'nl' %} {{ data.name_nl }}
            {% elseif app.request.locale == 'fr' %} {{ data.name_fr }}
            {% else %} {{ data.name_en }}
            {% endif %}
          </caption>
          <tbody>
           {% for field in data.info %}
            <tr>
              <td class="span7">
                {% if field.web is defined %}<a href="{{field.web}}">{% endif %}
                {% if app.request.locale == 'nl' %} {{ field.name_nl }}
                {% elseif app.request.locale == 'fr' %} {{ field.name_fr }}
                {% else %} {{ field.name_en }}                
                {% endif %}
                {% if field.web is defined %}</a>{% endif %}
              </td>
              <td class="span5">{{ field.value }}</td>
            </tr>
           {% endfor %}
          </tbody>
        </table>
      {% endfor %}
    </div>
</div>
{% endblock %}
