  <ul class="language-switcher-locale-url">
    {% for locale in locales %}
        <li{% if current_locale == locale.locale %} class="active"{% endif %}>
          <a href="{{ locale.link }}" title="{{ locale.locale_current_language }}">{{ locale.locale|upper }}</a></li>
    {% endfor %}
  </ul>