{% extends '::base.html.twig' %}
{% set sessionName = app.session.get('username') %}
{% block title %}Phonebook{% endblock %}
{% set activetab %}{% block activetab %}{% endblock %}{%endset%}
{% set intranet %}{% block intranet %}{% endblock %}{% endset %}
{% block javascriptsheader %}
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% endblock %}
{% block stylesheets %}
<link href="https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700,subset=latin:n,i,b,bi|Lato:100,200,300,400,500,600,700,subset=latin:n,i,b,bi|Lato:100,200,300,400,500,600,700,subset=latin:n,i,b,bi|Lato:100,200,300,400,500,600,700,subset=latin:n,i,b,bi|Yanone+Kaffeesatz" rel="stylesheet" type="text/css">
{% stylesheets filter="compass" '@RbinsPhoneBookBundle/Resources/public/sass/sass/*.scss' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
 {% stylesheets '@RbinsPersoBundle/Resources/public/css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
{% endblock %}
{% block body %}
<div class="container content">
  <div class="container-fluid">
    <div id="topBar">
      <div class="row-fluid">
        <div class="span3 orange title"><!-- <h5>{% trans %}perso.phonebook.name{% endtrans %}</h5> --></div>
        <div class="span6 login_infos">
          {% if is_granted('IS_AUTHENTICATED_FULLY') %}
          <ul>
            <li class="disabled"><a href="{{ path('phonebook_profile') }}"><i class="icon-user"></i> {{ app.user.username }}</a></li>
            <li class="divider-vertical"></li>
            <li><a href="{{ path('logout') }}"><i class="icon-off"></i> {% trans %}perso.menu.logout{% endtrans %}</a></li>
          </ul>
          {% endif %} 
        </div>
        <div class="span3">
          <div class="locale_container">
              {{ locale_switcher(null, {'show_current_locale':true}, 'RbinsPhoneBookBundle::lang_switch.html.twig') }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <header class='row-fluid'>
      <div class="span5 logo-block">
        <div>
          <a href="http://www.naturalsciences.be" title="{% trans %}perso.menu.home{% endtrans %}">
            <img src="{{asset('bundles/rbinsphonebook/images/logo-museum.png') }}">
          </a>
        </div>
        <h1>
          <a href="http://web1.naturalsciences.be" title="{% trans %}perso.menu.home{% endtrans %}">
            {% trans %}perso.site.museum{% endtrans %}
          </a>
        </h1>
      </div>
      <div class="span7">
        {% include ('RbinsPhoneBookBundle::menu.html.twig') %}
        <div class="display_title">
          <h1>
            {% block pb_title %}{% endblock %}
          </h1>
        </div>
      </div>
    </header>
  </div>
  <div class="container-fluid inner-body">
      {% block content %}
      {% endblock %}  
  </div>
</div>
{% endblock %}
