 <div>
  <div class="pb_tab_menu content">
    <ul>
      <li {% if 'person' == activetab %}class="active"{%endif%}><a href="{{ path('phonebook_home') }}">{% trans %}perso.phonebook.menu.person{% endtrans %}</a></li>
      <li {% if 'dept' == activetab %}class="active"{%endif%}><a href="{{ path('pb_organigram') }}">{% trans %}perso.phonebook.menu.department{% endtrans %}</a></li>
      {% if intranet or is_granted('IS_AUTHENTICATED_FULLY') %}
      <li {% if 'usefull' == activetab %}class="active"{%endif%}><a href="{{ path('pb_usefull_numbers') }}">{% trans %}perso.phonebook.menu.usefull{% endtrans %}</a></li>      
      {% endif %}
      <li {% if 'profile' == activetab %}class="active"{%endif%}><a href="{{ path('phonebook_profile') }}">{% trans %}perso.phonebook.menu.profile{% endtrans %}</a></li>
    </ul>
  </div>
</div>