<div class="person-search">
  <input data-original-title="{{ 'perso.sidebar.search.ph' | trans |e }}" data-content="{{ 'perso.sidebar.search.popover' | trans |e }}" rel="popover" type="text" id="person_search" class="input-medium search-query" placeholder="{% trans %}perso.sidebar.search.ph{% endtrans %}" autocomplete="off">
  
</div>
<script type="text/javascript">
var xhr;
 $(document).ready(function(){
  $('#person_search').popover({ trigger: 'hover' });
  $('#person_search').on('click keydown',function(){
    $(this).data('popover').hide();
  });

  var action =  'view';
  var search_term = '';
  $('.alpha a').on('click',function(){
    $('#person_search').val('') ;
    search_term = $(this).html() ;
    if(xhr) xhr.abort();
    xhr = $.ajax({
      url: "{{ path('search_phonebook_person') }}",
      data: { term: search_term, type: 'alpha'},
      success: function(data){
        $('#pb_results').html(data);
        $('#pb_results').removeClass('loading');
      }
    });
  });  

  $('#person_search').bind('keyup change', function(e){
    
    if(search_term == $(this).val()) {
      //console.log('Same : term');
      return;
    }
    if(xhr) xhr.abort();

    search_term = $(this).val();
    $('#pb_results').addClass('loading');
    if(search_term ==''){
      $('#pb_results').html('');
      $('#pb_results').removeClass('loading');
      return;
    }
    xhr = $.ajax({
      url: "{{ path('search_phonebook_person') }}",
      //dataType: 'json',
      data: { term: search_term, type: 'text'},
      success: function(data){
        $('#pb_results').html(data);
        $('#pb_results').removeClass('loading');
      }
    });
  });
 });
</script>
