<li class="dropdown">
  <a data-toggle="dropdown" class="dropdown-toggle" href="#">
    <i class="icon-flag icon-white"></i>{% trans %}perso.menu.lang{% endtrans %} <b class="caret"></b>
  </a>

  <ul class="dropdown-menu lang">
    {% for locale in locales %}
      {% if current_locale != locale.locale %}
        <li><a href="{{ locale.link }}" title="{{ locale.locale_current_language }}">{{ locale.locale_current_language|capitalize }}</a></li>
      {% endif %}
    {% endfor %}
  </ul>
</li>