{% extends '::base.html.twig' %}
{% block body %}
<script type="text/javascript" src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script type="text/javascript" src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
{% stylesheets '@RbinsPersoBundle/Resources/public/css/*.css' %}
  <link rel="stylesheet" href="{{ asset_url }}" />
{% endstylesheets %}
    <div class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
        <button data-target=".nav-collapse" data-toggle="collapse" class="btn btn-navbar" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          {% include 'RbinsPersoBundle::menu.html.twig' %}
        </div>
      </div>
    </div>


    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span3 sidebar">
      {% block sidebar %}{% include 'RbinsPersoBundle::sidebar.html.twig' %}{% endblock %}
    </div>
    <div class="span9">
        {% block content %}{% endblock %}
    </div>
    </div>
    </div>

{% javascripts '@RbinsPersoBundle/Resources/public/js/*.js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

{% endblock %}
