<div class="nav-collapse subnav-collapse collapse">
  <ul class="nav">
    <li class=""><a href="{{ path('welcome') }}">{% trans %}perso.menu.home{% endtrans %}</a></li>
  {% if is_granted('ROLE_HR_EDIT') %}
    <li class="dropdown {%if app.request.attributes.get('_route') =="catalogue_list" %}active{% endif%}">
      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
        {% trans %}perso.menu.catalogues{% endtrans %} <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">

        <li><a href="{{ path('catalogue_list', {catalogue: 'CataloguePremium'}) }}">{% trans %}perso.menu.catalogue.premium{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Cause'}) }}">{% trans %}perso.menu.catalogue.cause{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'City'}) }}">{% trans %}perso.menu.catalogue.city{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'ContractComment'}) }}">{% trans %}perso.menu.catalogue.contract_comment{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'ContractDuration'}) }}">{% trans %}perso.menu.catalogue.contract_duration{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Department'}) }}">{% trans %}perso.menu.catalogue.department{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Grade'}) }}">{% trans %}perso.menu.catalogue.grade{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Status'}) }}">{% trans %}perso.menu.catalogue.status{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Reason'}) }}">{% trans %}perso.menu.catalogue.reason{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'FunctFamily'}) }}">{% trans %}perso.menu.catalogue.funct_family{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'SalaryGrade'}) }}">{% trans %}perso.menu.catalogue.salarygrade{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'MaritalStatus'}) }}">{% trans %}perso.menu.catalogue.marital_status{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Degree'}) }}">{% trans %}perso.menu.catalogue.degree{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'ExitReason'}) }}">{% trans %}perso.menu.catalogue.exit_reason{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'SubLevel'}) }}">{% trans %}perso.menu.catalogue.sublevel{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Country'}) }}">{% trans %}perso.menu.catalogue.country{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'DocType'}) }}">{% trans %}perso.menu.catalogue.doctype{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'WorkFunction'}) }}">{% trans %}perso.menu.catalogue.workfunction{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'MedCenter'}) }}">{% trans %}perso.menu.catalogue.medcenter{% endtrans %}</a></li>
        <li><a href="{{ path('catalogue_list', {catalogue: 'Frame'}) }}">{% trans %}perso.menu.catalogue.frame{% endtrans %}</a></li>
      </ul>
    </li>
    {% endif %}
    <li class=""><a href="{{ path('organigram') }}">{% trans %}perso.menu.organigram{% endtrans %}</a></li>
    <li class=""><a href="{{ path('reports_list') }}">{% trans %}perso.home.reporting.title{% endtrans %}</a></li>
  </ul>
  <ul class="nav pull-right">
    {{ locale_switcher() }}

    {% if is_granted('ROLE_PREVIOUS_ADMIN') %}
      <li class="disabled"><a href="?_su=_exit"><i class="icon-bell icon-white"></i> {% trans %}perso.menu.exit_su{% endtrans %}</a></li>
    {% endif %}
    <li class="disabled"><a href="#"><i class="icon-user icon-white"></i> {{ app.user.username }}</a></li>
    <li class="divider-vertical"></li>
    <li><a href="{{ path('logout') }}"><i class="icon-off icon-white"></i> {% trans %}perso.menu.logout{% endtrans %}</a></li>
  </ul>
</div><!-- /.nav-collapse -->