<form class="navbar-search pull-left">
  <p>
    {% if is_granted('ROLE_HR_EDIT') %}
      <a href="{{ path('person_add') }}"><i class="icon-plus-sign"></i>
      {% trans %}perso.sidebar.add_person{% endtrans %}</a>
    {% endif %}
  </p>

  <input data-original-title="{{ 'perso.sidebar.search.ph' | trans |e }}" data-content="{{ 'perso.sidebar.search.popover' | trans |e }}" rel="popover" type="text" id="person_search" class="input-medium search-query" placeholder="{% trans %}perso.sidebar.search.ph{% endtrans %}" autocomplete="off">
  
  <div id="person_results"><ul></ul></div>
</form>
<script type="text/javascript">
var xhr;
 $(document).ready(function(){
  $('#person_search').popover({ trigger: 'hover' });
  $('#person_search').on('click keydown',function(){
    $(this).data('popover').hide();
  });
  var action =  'view';

  $('#person_search').closest('form').on('submit',function(e){
    //Follow the first link if ENT
    e.preventDefault();
    console.log($('#person_results li:first a').html());
    if( $('#person_results li:first a').attr('href'))
      window.location = $('#person_results li:first a').attr('href');
  });

  var search_term = '';
  $('#person_search').bind('keyup change', function(e){
    
    if(search_term == $(this).val()) {
      //console.log('Same : term');
      return;
    }
    if(xhr) xhr.abort();

    search_term = $(this).val();
    $('#person_results').addClass('loading');
    if(search_term ==''){
      $('#person_results ul').html('');
      $('#person_results').removeClass('loading');
      return;
    }
    xhr = $.ajax({
      url: "{{ path('search_person') }}",
      dataType: 'json',
      data: { term: search_term},
      success: function(data){
        var items = [];
        $.each(data, function(i, person) {
          items.push('<li><a class="' + person.is_active + '" href="' + Routing.generate('person', {id: person.value, action: action}) + '">' + person.label +'</a></li>');
        });
        $('#person_results ul').html(items.join(''));
        $('#person_results').removeClass('loading');

      }
    });
  });
 });
</script>
