{% if is_granted('ROLE_HR_EDIT') and persid != '0' %}
    <h6><a class="btn" href="{{ path('person_' ~ activetab, { 'id': persid, 'action':action } ) }}">{{ ('perso.sidebar.toggle_' ~ action) |trans() }}</a></h6>
{% endif %}  